.row_layout {
	display: flex;
	align-items: center;
}
// 主体
#index {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.page2_body {
	flex-grow: 1;
	overflow: hidden;
	display: flex;
	.place_list {
		width: 10%;
		min-width: 220px;
		border: 1px solid #404755;
		overflow: auto;
		padding: 10px 20px;
		position: relative;
	}
	.place_list2 {
		border: 1px solid #404755;
		overflow: auto;
		position: relative;
		width: 50px;
		display: flex;
		justify-content: center;
	}
	.place {
		height: 44px;
		display: flex;
		align-items: center;
		position: relative;
		z-index: 10;
		cursor: pointer;
		.icon {
			width: 12px;
			height: 12px;
			margin-left: 12px;
		}
		.text {
			font-size: 16px;
			color: #fff;
			margin: 0 auto;
		}
		.text_dark {
			color: rgb(213, 234, 249);
			opacity: 0.5;
		}
		.icon2 {
			width: 12px;
			height: 12px;
			margin-right: 12px;
		}
	}
	.unfold {
		position: absolute;
		width: 10px;
		height: 50px;
		background-color: #82a3f7;
		border-radius: 10px;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		.icon {
			width: 6px;
			height: 10px;
			border-right: 6px solid #1e90ff;
			border-bottom: 5px solid transparent;
			border-top: 5px solid transparent;
		}
	}
	.fold {
		position: absolute;
		width: 10px;
		height: 50px;
		background-color: #82a3f7;
		border-radius: 10px;
		top: 50%;
		transform: translateY(-50%);
		.icon {
			width: 6px;
			height: 10px;
			border-left: 6px solid #1e90ff;
			border-bottom: 5px solid transparent;
			border-top: 5px solid transparent;
		}
	}
	.gap {
		width: 5px;
	}
	.card_list {
		flex-grow: 1;
		border: 1px solid #404755;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		.box1 {
			height: 80px;
			display: flex;
			flex-shrink: 0;
			align-items: center;
			// justify-content: end;
			.total {
				margin: 0 20px;
				display: flex;
				flex-direction: column;
				align-items: center;
				.num {
					font-size: 18px;
					font-weight: bold;
					color: #fff;
					margin-bottom: 10px;
				}
				.text {
					font-size: 16px;
					color: #fff;
				}
			}
			.icon {
				width: 60px;
				height: 60px;
				object-fit: contain;
				flex-shrink: 0;
				margin-right: 180px;
			}
			// 集中控制按钮
			> .button1 {
				padding: 14px 20px;
				color: #fff;
				background: rgba(69, 83, 112, 0.9);
				border-radius: 10px;
				margin-right: auto;
			}
		}
		.box2 {
			flex-grow: 1;
			overflow: auto;
			display: flex;
			flex-wrap: wrap;
			align-content: start;
			position: relative;
			.card {
				width: 320px;
				height: 200px;
				position: relative;
				flex-shrink: 0;
				margin: 15px;
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr;
				padding: 20px 20px 0 20px;
				z-index: 10;
				.bg_img {
					top: 0;
					left: 0;
				}
				.img {
					width: 70px;
					height: 70px;
					position: relative;
					align-self: center;
					justify-self: start;
					.bg {
						width: 100%;
						height: 100%;
						background-color: #fff;
						position: absolute;
					}
				}
				.type {
					display: grid;
					grid-auto-flow: column;
					justify-content: end;
					align-items: center;
					align-self: start;
					padding-top: 10px;
					.icon {
						width: 16px;
						height: 16px;
						margin-right: 15px;
						object-fit: contain;
					}
					.box2_1 {
						width: 80px;
						height: 30px;
						background: #4a5778;
						border-radius: 14px;
						font-size: 12px;
						color: #b6dbe4;
					}
				}
				.name_box {
					align-self: center;
					justify-self: start;
					.name {
						font-size: 16px;
						color: #feffff;
						max-width: 150px;
					}
					.status {
						display: flex;
						align-items: center;
						margin-top: 10px;
						.icon {
							width: 6px;
							height: 6px;
							border-radius: 50%;
							margin-right: 10px;
						}
						.text {
							font-size: 12px;
						}
					}
				}
				.button2 {
					width: 60px;
					height: 60px;
					object-fit: contain;
					align-self: center;
					justify-self: end;
					position: relative;
					cursor: pointer;
					.box2_2 {
						position: absolute;
						left: 100%;
						padding-left: 10px;
						width: 150px;
						.box2_2_1 {
							padding: 10px 0;
							display: flex;
							align-items: center;
							font-size: 14px;
							color: #fff;
							background: #1c2740;
							border: 1px solid #637094;
							cursor: pointer;
							&:hover {
								color: #13a4ff;
							}
							&:last-child {
								border-top: none;
							}
							.icon {
								width: 6px;
								height: 8px;
								margin: 0 10px;
							}
						}
					}
				}
			}
		}
	}
}
.button_layout {
	display: flex;
	justify-content: end;
}
.device_window {
	width: 100%;
	height: 100%;
	background: rgb(36, 38, 50);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	> .head {
		padding: 10px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.title {
			color: #fff;
			margin: 0;
		}
		.box1 {
			display: flex;
			align-items: center;
			color: #fff;
		}
	}
	> .body {
		// margin: 20px;
		flex-grow: 1;
	}
}
.iconize_device_window {
	z-index: 990;
	position: fixed;
	right: 9px;
	bottom: 9px;
}
.alert_window {
	width: 50%;
	min-width: 400px;
	height: 60vh;
	min-height: 500px;
	align-self: center;
	background: #242632;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	.head {
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.alert_body {
		flex-grow: 1;
		overflow: hidden;
	}
	.paging {
		align-self: center;
		padding: 20px 0;
	}
}
// 滚动条
::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 5px; /*高宽分别对应横竖滚动条的尺寸*/
	height: 5px;
}
::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	border-radius: 5px;
	background: #82a3f7;
}
::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	border-radius: 5px;
	background: #404755;
}
