<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="../module/element-ui.css">
  <link rel="stylesheet" href="../module/common_style.css">
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <div id="index" v-cloak @mouseup="area_end" v-loading="html.loading">
    <!-- 功能按钮等 -->
    <div class="header">
      <el-input class="search flex_shrink" placeholder="会议室名称" v-model="html.search_meeting"
        @keydown.enter="req_room_list(html.search_meeting)">
        <i slot="suffix" class="el-input__icon el-icon-search button" @click="req_room_list(html.search_meeting)"></i>
      </el-input>
      <div class="calendar_box flex_shrink">
        <span class="text">{{html.year}}年{{html.month}}月{{html.day}}({{html.week}})</span>
        <img @click="select_day" src="./img/icon3.png" class="icon button" draggable="false">
        <el-date-picker id="calendar" v-model="html.date" type="date" @change="display_time(html.date)">
        </el-date-picker>
      </div>
    </div>
    <!-- 提示区 -->
    <div class="table_type">
      <span class="meeting_name">会议室名称</span>
      <span class="text">时间</span>
      <div class="tips">
        <span class="tip">空闲</span>
        <span class="tip">已预定</span>
        <span class="tip">当前时间分割线</span>
      </div>
    </div>
    <!-- 看板 -->
    <div class="table_box" @mouseover="close_meeting_info_box">
      <!-- 时间轴 -->
      <div class="time_line_box">
        <!-- 占位 -->
        <div class="icon"></div>
        <div v-for="i in 17" class="time_line center">{{6+i-1}}:30</div>
      </div>
      <!-- 会议室列表 -->
      <div class="meeting_boxs" @mousemove="mouse_focus_show($event)" @scroll="link_scroll">
        <div class="current_time" v-show="html.boundary_display"></div>
        <!-- fixed浮在时间块上 无法冒泡触发mouse事件 -->
        <div class="mouse_position" v-show="mouse.enter" :style="mouse_position()" @mousedown="mouse_down"
          @wheel="focus_wheel($event)">
          <!-- 鼠标焦点样式 -->
          <div class="focus" v-show="mouse.focus" :style="{top:mouse.focus_top}"></div>
        </div>
        <div v-for="item,index in place_list" class="place">
          <div class="place_name">
            <div class="info">
              <div class="box1">
                <span class="name text_ellipsis" :title="item.roomName">{{item.roomName}}</span>
                <el-tag type="warning" size="mini" v-if="item.approve==1">需审批</el-tag>
                <el-tag size="mini" v-if="item.approve==0">无需审批</el-tag>
              </div>

              <div class="row_layout">
                <div>会议室类型：</div>
                <span class="type">{{item.type==0?'视频':item.type==1?'综合':'无纸化'}}</span>
              </div>

              <div class="box2" style="justify-content: space-between;">
                <div class="row_layout">
                  <div>会议室容量：</div>
                  <span class="type" style="margin-right:auto;"> {{item.num}}</span>
                </div>

                <el-button @click="place_detail(item.id)" type="text" size="mini">详情</el-button>
              </div>
            </div>
          </div>
          <!-- @mousedown="area_start(index,index2)" @mouseover="area_enter(index,index2)" @mouseenter="query_meeting_info($event,index,index2)" -->
          <div v-for="i,index2 in html.time_num" class="time_box" @mouseenter="area_enter(index,index2,$event)">
            <!-- 有会议的样式 -->
            <img v-if="html.block_list[index][index2] == 2" src="./img/icon5.png" class="bg_img pass" draggable="false">
            <!-- 过期的样式 -->
            <img v-if="html.block_list[index][index2] == 1" src="./img/icon4.png" class="bg_img over_time"
              draggable="false">
            <!-- 框选的样式 -->
            <div v-show="html.block_list2[index][index2] == 3"
              :class="['area_box',col_index_start==index2?'color_start':'',col_index_end==index2?'color_end':'']">
            </div>
            <!-- 鼠标焦点样式 -->
            <!-- <div class="focus" v-show="focus_show(index,index2)"></div> -->
          </div>
        </div>
      </div>
    </div>

    <!-- 遮罩及新建会议弹窗 -->
    <div class="popover" v-if="html.new_meeting">
      <div id="reserve" class="form_box" v-loading="html.form_loading">
        <div class="form_head">
          <span class="text">预约会议</span>
          <div class="row_layout">
            <el-button @click="full_screen" icon="el-icon-full-screen" circle title="放大" size="mini"></el-button>
            <el-button @click="close_new" type="danger" icon="el-icon-close" circle size="mini"></el-button>
          </div>
        </div>

        <el-steps :active="new_meeting_form.step" finish-status="success" align-center simple>
          <el-step v-for="s in new_meeting_form.step_list" :title="step_text(s)"></el-step>
        </el-steps>

        <div class="form_body">
          <el-form v-show="new_meeting_form.step!==1" :model="new_meeting_form" :rules="new_rule" ref="new_meeting"
            label-width="110px">
            <template v-if="!new_meeting_form.step">
              <el-form-item label="会议名称" prop="name">
                <el-input v-model="new_meeting_form.name"></el-input>
              </el-form-item>

              <el-form-item label="会议类型" required>
                <el-select v-model="new_meeting_form.type" :disabled="new_meeting_form.is_rebook"
                  @change="meeting_type_change">
                  <el-option v-for="t in new_meeting_form.type_list" :key="t.id" :label="t.name" :value="t.id"
                    :disabled="t.disabled">
                  </el-option>
                </el-select>
              </el-form-item>

              <el-form-item label="预约时间" required>
                <div style="display: flex;">
                  <el-form-item prop="date" class="margin" style="width: 140px;">
                    <el-date-picker v-model="new_meeting_form.date" type="date" :picker-options="date_options()"
                      @change="change_reserve_type" style="width: 140px;">
                    </el-date-picker>
                  </el-form-item>
                  <el-form-item prop="time_start" class="margin" style="width: 100px;">
                    <el-time-select v-model="new_meeting_form.time_start" @change="change_reserve_type"
                      style="width: 100px;"
                      :picker-options="{start: '06:00',step: '00:15',end: '23:00',maxTime:new_meeting_form.time_end}">
                    </el-time-select>
                  </el-form-item>
                  <span class="margin">&#10140</span>
                  <el-form-item prop="time_end" class="margin" style="width: 100px;">
                    <el-time-select v-model="new_meeting_form.time_end" @change="change_reserve_type"
                      style="width: 100px;"
                      :picker-options="{start: '06:00',step: '00:15',end: '23:00',minTime: new_meeting_form.time_start}">
                    </el-time-select>
                  </el-form-item>
                </div>
              </el-form-item>

              <el-form-item label="第三方会议">
                <el-checkbox-group v-model="new_meeting_form.platform">
                  <el-checkbox label="dingTalk">钉钉</el-checkbox>
                </el-checkbox-group>
              </el-form-item>

              <el-form-item label="预约方式">
                <el-select :disabled="new_meeting_form.is_rebook||new_meeting_form.type=='5'"
                  v-model="new_meeting_form.method">
                  <el-option v-for="item,index in html.reserve_type" :label="item" :value="index">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item v-if="new_meeting_form.method==5" label="自定义星期" prop="cus_week">
                <el-select v-model="new_meeting_form.cus_week" multiple>
                  <el-option v-for="item,index in html.week_options" :label="item" :value="index+1">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item v-show="new_meeting_form.method" label="预约截止日期">
                <el-date-picker v-model="new_meeting_form.cycle_deadline" :picker-options="cycle_options()" type="date"
                  placeholder="选择日期">
                </el-date-picker>
              </el-form-item>

              <el-form-item v-if="new_meeting_form.type=='5'" label="操作员" required>
                <div class="person_box">
                  <div class="box1">
                    <div class="person button flex_shrink" @click="add_person_display('operator')">
                      <i class="el-icon-plus icon1"></i>
                      <span class="name">添加</span>
                    </div>

                    <div class="person flex_shrink" v-for="item,index in new_meeting_form.operator">
                      <span class="name text_ellipsis" :title="item.name">{{item.name}}</span>
                      <i class="el-icon-close" @click="del_person(index,'operator')"></i>
                    </div>
                  </div>
                  <!-- 人数统计 -->
                  <div class="box2">{{new_meeting_form.operator.length}}人</div>
                </div>
              </el-form-item>

              <el-form-item label="主持人" required>
                <div class="person_box">
                  <!-- 人员显示列表 -->
                  <div class="box1">
                    <div class="person button flex_shrink" @click="add_person_display('holder')">
                      <i class="el-icon-plus icon1"></i>
                      <span class="name">添加</span>
                    </div>

                    <div class="person flex_shrink" v-for="item,index in new_meeting_form.emcee">
                      <span class="name text_ellipsis" :title="item.name">{{item.name}}</span>
                      <i class="el-icon-close" @click="del_person(index,'holder')"></i>
                    </div>

                    <div v-show="!new_meeting_form.emcee.length" class="placeholder">主持人</div>
                  </div>
                  <!-- 人数统计 -->
                  <div class="box2">{{new_meeting_form.emcee.length}}人</div>
                </div>
              </el-form-item>

              <el-form-item label="参会人员">
                <div style="display:flex;flex-direction:column;">
                  <!-- 必须参与人 -->
                  <div class="row_layout">
                    <div class="person_box">
                      <!-- 人员显示列表 -->
                      <div class="box1">
                        <div class="person button flex_shrink" @click="add_person_display('join')">
                          <i class="el-icon-plus icon1"></i>
                          <span class="name">批量添加</span>
                        </div>
                        <div class="person flex_shrink" v-for="item,index in new_meeting_form.search_person">
                          <span class="name text_ellipsis" :title="item.name">{{item.name}}</span>
                          <i class="el-icon-close" @click="del_person(index,'join')"></i>
                        </div>
                        <div v-show="new_meeting_form.search_person.length<=1" class="placeholder">参会人员</div>
                      </div>
                      <!-- 人数统计 -->
                      <div class="box2">{{new_meeting_form.search_person.length}}人</div>
                    </div>
                  </div>
                </div>
              </el-form-item>

              <el-form-item label="来宾人员">
                <div style="display:flex;align-items:start;">
                  <input type="file" style="display:none;" id="upload" @change="upload_visitor">
                  <div class="person_box">
                    <div class="box1">
                      <div class="person button flex_shrink" @click="upload_click">
                        <i class="el-icon-plus icon1"></i>
                        <span class="name">批量添加</span>
                      </div>
                      <div class="person flex_shrink" v-for="item,index in new_meeting_form.guestList">
                        <span class="name text_ellipsis" :title="item.guestName">{{item.guestName}}</span>
                        <i @click="del_guest(index)" class="el-icon-close button"></i>
                      </div>
                      <div v-show="new_meeting_form.guestList.length==0" class="placeholder">来宾人员</div>
                    </div>
                    <div class="box2">{{new_meeting_form.guestList.length}}人</div>
                  </div>
                  <el-button @click="download" size="mini" type="text" class="flex_shrink"
                    style="margin:8px 10px 0 10px;">Excel模板</el-button>
                </div>
              </el-form-item>

              <el-form-item label="会议物品">
                <div class="list_box">
                  <div class="person button flex_shrink" @click="goods_show">
                    <i class="el-icon-plus icon1"></i>
                    <span class="name">批量添加</span>
                  </div>

                  <div class="person flex_shrink" v-for="item,index in new_meeting_form.goods" style="width: 140px;">
                    <span class="name text_ellipsis" :title="item.name">{{item.name}}({{item.num}})</span>
                    <i @click="del_goods(index)" class="el-icon-close button"></i>
                  </div>
                </div>
              </el-form-item>

              <el-form-item label="会议纪要">
                <el-select v-model="new_meeting_form.summary">
                  <el-option v-for="item,index in html.bool_options" :label="item" :value="index">
                  </el-option>
                </el-select>
              </el-form-item>

              <el-form-item label="备注">
                <el-input type="textarea" autosize v-model="new_meeting_form.description"></el-input>
              </el-form-item>

              <el-form-item v-show="new_meeting_form.type!='5'" label="附件">
                <el-upload :action="file.url" :headers="upload_header()" :file-list="file.list"
                  :before-remove="file_del" :on-success="upload_result" style="width: 50%;">
                  <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
                </el-upload>
              </el-form-item>
            </template>

            <template v-if="new_meeting_form.step===2">
              <el-form-item label="立即通知">
                <el-select v-model="new_meeting_form.立即通知">
                  <el-option v-for="item,index in html.bool_options" :label="item" :value="index">
                  </el-option>
                </el-select>
              </el-form-item>

              <el-form-item label="是否回复">
                <el-select v-model="new_meeting_form.reply">
                  <el-option v-for="item,index in html.bool_options" :label="item" :value="index">
                  </el-option>
                </el-select>
              </el-form-item>

              <el-form-item label="是否通知">
                <div style="display: flex;align-items: center;">
                  <el-select v-model="new_meeting_form.sendMessage" style="margin-right: 20px;" @change="change_info">
                    <el-option v-for="item,index in html.bool_options" :label="item" :value="index">
                    </el-option>
                  </el-select>
                  <el-button @click="add_alert_time" v-show="new_meeting_form.sendMessage==1" type="text"
                    size="small">添加提醒
                  </el-button>
                </div>
              </el-form-item>
              <el-form-item label="&#128276;" v-show="new_meeting_form.meetingReminds.length>0">
                <div class="alert_box">
                  <div v-for="item,r in new_meeting_form.meetingReminds" class="box1">
                    <el-select v-show="item.index!==7" class="box3" v-model="item.index" @change="init_time(item)"
                      placeholder="请选择提醒时间">
                      <el-option v-for="item2,v in new_meeting_form.reminds" :label="item2" :value="v"></el-option>
                    </el-select>
                    <!-- 选最后一项自定义时间时 需要触发时间选择器 -->
                    <el-date-picker v-show="item.index===7" class="box3" v-model="item.alert_time"
                      @change="custom_alert_time(item)" type="datetime"></el-date-picker>
                    <!-- <el-select v-model="item.type" class="box2">
                      <el-option v-for="item2,index in html.info_type" :label="item2" :value="index"
                        :disabled="index!=0&&index!=2">
                      </el-option>
                    </el-select> -->
                    <i class="el-icon-close icon button" v-show="new_meeting_form.meetingReminds.length>1"
                      @click="del_alert_time(r)"></i>
                  </div>
                </div>
              </el-form-item>

              <el-form-item label="是否签到">
                <el-select v-model="new_meeting_form.signIn">
                  <el-option v-for="item,index in html.bool_options" :label="item" :value="index">
                  </el-option>
                </el-select>
              </el-form-item>
            </template>

            <template v-if="new_meeting_form.step===3">
              <el-form-item label="开门码">
                <el-select v-model="new_meeting_form.door_password">
                  <el-option v-for="item,index in html.door_password_options" :label="item" :value="index">
                  </el-option>
                </el-select>
              </el-form-item>

              <el-form-item label="选择模板">
                <el-select v-model="new_meeting_form.template" :disabled="new_meeting_form.is_rebook">
                  <el-option-group v-for="group in new_meeting_form.template_list" :key="group.label"
                    :label="group.label">
                    <el-option v-for="item in group.options" :key="item.id" :label="item.title" :value="item.id">
                    </el-option>
                  </el-option-group>
                </el-select>
              </el-form-item>
              <!-- 封面图 -->
              <div style="height:500px;padding:0 20px;overflow:hidden;">
                <img v-show="new_meeting_form.template" :src="template_img"
                  style="width: 100%;height: 100%;object-fit: contain;">
                <!-- 没有图片时替换 -->
                <div v-show="!new_meeting_form.template" class="no_img center">暂无</div>
              </div>
            </template>
          </el-form>
          <!-- 无纸化页面 -->
          <iframe v-if="new_meeting_form.step===1" :src="html.paperless_url" frameborder="0" scrolling="no"
            style="flex-grow: 1;"></iframe>
        </div>

        <div class="form_foot row_layout">
          <el-button v-show="new_meeting_form.step" @click="pre_step(new_meeting_form)" round>上一步</el-button>
          <el-button @click="step_pass(new_meeting_form)" type="primary"
            round>{{new_meeting_form.step===3?'完成':'下一步'}}</el-button>
        </div>
      </div>
    </div>
    <!-- 添加参会人 -->
    <div class="popover" v-show="html.add_person_display">
      <div class="add_person_window" v-loading="html.add_person_loading">
        <div class="head">
          <span style="font-weight:bold;">{{add_person_form.title}}</span>
          <el-button @click="html.add_person_display=false" type="danger" icon="el-icon-close" circle
            size="mini"></el-button>
        </div>
        <div class="body">
          <iframe id="add_person" :src="html.add_person_url" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
    </div>
    <!-- 会议信息 -->
    <el-card class="meeting_info_box" v-show="html.meeting_info_show" shadow="always">
      <div class="single_info" v-for="item,index in html.meeting_infos">
        <span class="title">{{item}}</span>
        <span class="text text_ellipsis" :title="meeting_info.name" v-if="index==0">{{meeting_info.name}}</span>
        <span class="text" v-if="index==1">{{meeting_info.start_time}}</span>
        <span class="text" v-if="index==2">{{meeting_info.end_time}}</span>
        <span class="text" v-if="index==3">{{meeting_info.type}}</span>
      </div>
    </el-card>
    <!-- 物品弹窗 -->
    <div class="popover" v-show="goods.show">
      <div class="add_person_window" v-loading="html.add_person_loading" style="width: 80vw;">
        <div class="head">
          <span style="font-weight:bold;">选择会议物品</span>
          <el-button @click="goods.show=false" type="danger" icon="el-icon-close" circle size="mini"></el-button>
        </div>
        <div class="body goods_box">
          <div class="left">
            <el-input v-model="goods.search" @change="get_goods_list()" size="small" clearable
              style="width: 40%;align-self: center;">
              <i @click="get_goods_list()" slot="suffix" class="el-input__icon el-icon-search button"></i>
            </el-input>

            <div class="goods_list_box">
              <el-table id="goods_table" ref="goods_table" :data="goods.list" :max-height="goods.max_h"
                @selection-change="select_goods">
                <el-table-column type="selection" width="30"></el-table-column>
                <el-table-column prop="name" label="物品名称"></el-table-column>
                <el-table-column label="数量" width="100">
                  <template slot-scope="scope">
                    <el-input v-model="scope.row.num" @blur="is_num(scope.row.num,true)" placeholder="数量"
                      size="mini"></el-input>
                  </template>
                </el-table-column>
                <el-table-column prop="unit" label="单位" width="60"></el-table-column>
                <el-table-column prop="remark" label="备注"></el-table-column>
              </el-table>

              <el-pagination class="paging flex_shrink" @current-change="get_goods_list" layout="prev, pager, next"
                :total="goods.total" :page-size="goods.pageSize" :current-page="goods.page"></el-pagination>
            </div>

          </div>

          <div class="right">
            <span class="margin1">已选择</span>

            <div class="scroll">
              <div class="person flex_shrink" v-for="item,index in goods.select">
                <span class="name text_ellipsis" :title="item.name">{{item.name}}({{item.num?item.num:0}})</span>
                <i class="el-icon-close" @click="del_goods(index)"></i>
              </div>
            </div>

            <div class="submit">
              <el-button @click="goods.show=false" style="margin-right:20px;" size="small">取消</el-button>
              <el-button @click="add_goods" type="primary" size="small">确定</el-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 会议室详情 -->
    <div class="popover" v-show="place.show">
      <div class="add_person_window" v-loading="html.add_person_loading"
        style="height: auto;max-height: 60vh;min-height: auto;">
        <div class="head">
          <span style="font-weight:bold;">会议室详情</span>
          <el-button @click="place.show=false" type="danger" icon="el-icon-close" circle size="mini"></el-button>
        </div>

        <div class="body" style="overflow: auto;padding: 0 40px 20px 40px;">
          <div class="place_detail_row" v-for="item in place.list" v-show="item.content">
            <div class="title">{{item.title}}</div>
            <div>{{item.content}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../../运维人员部署请修改我.js"></script>
  <script src="../module/vue.js"></script>
  <script src="../module/element-ui.js"></script>
  <script src="../module/xlsx.core.min.js"></script>
  <script src="../module/axios.min.js"></script>
  <script src="../module/common_function.js"></script>
  <script src="./index.js"></script>
</body>

</html>