<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="../module/element-ui.css">
  <link rel="stylesheet" href="../module/common_style.css">
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <div id="index" v-cloak v-loading="html.page_loading">
    <div class="header row_layout flex_shrink">
      <span class="margin" style="font-size: 0.9rem;">状态</span>
      <el-select v-model="html.cur_status" style="margin-right:2rem;width:10rem;" size="mini">
        <el-option v-for="item in html.status_options" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
      </el-select>
      <span class="margin" style="font-size: 0.9rem;">操作</span>
      <el-button @click="switch_data(html.cur_status)" class="margin" type="primary" size="mini">条件查询</el-button>
    </div>

    <div class="body">
      <el-table :data="table.data" :max-height="table.h">
        <el-table-column type="index" width="50"></el-table-column>

        <el-table-column label="设备ID" prop="id"></el-table-column>
        <el-table-column label="设备名称" prop="deviceName"></el-table-column>
        <el-table-column label="所属场所" prop="productName"></el-table-column>
        <el-table-column label="设备类型" prop="productTypeValue"></el-table-column>
        <el-table-column label="IP地址" prop="deviceIp"></el-table-column>

        <el-table-column v-if="config.schedule_show" label="当前发布" width="150">
          <template slot-scope="scope">
            <el-button @click="show_schedule(scope.row)" size="mini" type="primary" plain>查看排期</el-button>
          </template>
        </el-table-column>

        <el-table-column label="状态" prop="status" width="100"></el-table-column>

        <el-table-column v-if="config.control_show" label="操作" width="100">
          <template slot-scope="scope">
            <el-button @click="control_show(scope.row.id)" size="mini" type="text">控制</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <div class="footer flex_shrink">
      <el-pagination background layout="total, prev, pager, next" :total="table.total" :page-size="table.page_size"
        @current-change="pagination" :current-page="table.cur_page"></el-pagination>
    </div>

    <!-- 弹窗 -->
    <!-- 排期 -->
    <div class="popover" v-if="schedule.show">
      <div class="form_layout" v-loading="schedule.loading" style="overflow: hidden;">
        <div class="head row_layout flex_shrink">
          <span class="title">{{schedule.title}}的发布任务</span>
          <el-button @click="schedule.show=false" size="mini" type="danger" circle icon="el-icon-close"></el-button>
        </div>

        <div class="day_box flex_shrink">
          <el-tabs v-model="schedule.active" @tab-click="get_day_data(schedule.active)">
            <el-tab-pane label="今天" name="today"></el-tab-pane>
            <el-tab-pane label="明天" name="tomorrow"></el-tab-pane>
          </el-tabs>
        </div>

        <div class="time_axis flex_shrink">
          <div class="icon"></div>
          <div class="text center" v-for="time in 24">{{time-1}}:30</div>
        </div>

        <div class="box">
          <div class="box1">
            <div class="box1_1" v-for="item in schedule.left_list">
              <span class="text_ellipsis flex_shrink">{{item.name}}</span>
              <!-- <i class="el-icon-picture-outline icon"></i> -->
            </div>
          </div>

          <div class="box2">
            <!-- 装饰线 -->
            <div class="box2_1" v-for="i in 48"></div>
            <!-- 行定位 -->
            <div class="box2_2 row_layout" v-for="row,index in schedule.right_list" :style="row_style(index)">
              <!-- 列定位 -->
              <div class="box2_2_1 center" v-for="col,index2 in row" :style="col_style(col)"
                @mouseenter="schedule_detail(col,index,index2)" @mouseleave="schedule.pop_show=false">
                <span class="text_ellipsis" :title="col.name">{{col.name}}</span>
                <!-- 列中每一项定位 -->
                <div class="box2_2_1_1" v-for="item in col.list" :style="col_style(item)"></div>
              </div>
            </div>
            <!-- 排期详情 -->
            <div class="detail" v-show="schedule.pop_show" :style="detail_style()">
              <div class="row_layout text_ellipsis">发布名称：{{schedule.pop.name}}</div>
              <div class="row_layout text_ellipsis">开始时间：{{schedule.pop.start_time}}</div>
              <div class="row_layout text_ellipsis">结束时间：{{schedule.pop.end_time}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 设备控制 -->
    <div class="popover" v-show="html.control_show">
      <div class="control_box" v-loading="html.control_loading">
        <div class="head row_layout flex_shrink">
          <span class="title">控制</span>
          <el-button @click="close_ctrl" size="mini" type="danger" circle icon="el-icon-close"></el-button>
        </div>

        <div class="grid_box">
          <el-button @click="throttle('clearCache',1)" class="left" size="medium">清除应用缓存</el-button>
          <div class="line"></div>
          <el-button @click="throttle('restart',1)" class="right" size="medium">重启应用</el-button>
        </div>

        <div class="row_layout" style="margin: 0 1rem 1rem 1rem;">
          <!-- <el-button @click="throttle('volumeUp',1)" class="left" size="medium">音量
            +</el-button>
          
          <el-button @click="throttle('volumeDown',1)" class="right" size="medium">音量
            -</el-button> -->
          <div style="margin-right: 20px;">音量：</div>

          <el-slider class="flex_grow" v-model="play_ctrl.volume"
            @change="throttle('volume',play_ctrl.volume)"></el-slider>
        </div>

        <div class="row_layout margin">
          <span class="label flex_shrink">当前任务:</span>
          <span class="text_ellipsis" :title="cur_task_name">{{cur_task_name}}</span>
        </div>
        <div class="row_layout margin">
          <span class="label flex_shrink">当前播放:</span>
          <span class="text_ellipsis" :title="cur_play_source">{{cur_play_source}}</span>
        </div>

        <div class="row_layout margin" v-if="html.play_ctrl_show">
          <span class="label flex_shrink">播放控制:</span>
          <!-- 播放器样式 -->
          <div class="player row_layout">
            <div class="ctrl_box flex_shrink" @click="ctrl_play">
              <span v-show="play_ctrl.status==='pause'" class="icon">&#9654</span>
              <span v-show="play_ctrl.status==='play'" class="icon">||</span>
            </div>

            <span class="flex_shrink">{{play_cur_text}}</span>

            <div class="process" @mousedown="process_change" ref="play_process">
              <div class="cur" :style="{width:`${play_percent}%`}"></div>
            </div>

            <span class="flex_shrink">{{play_total_text}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../../运维人员部署请修改我.js"></script>
  <script src="../module/vue.js"></script>
  <script src="../module/element-ui.js"></script>
  <script src="../module/axios.min.js"></script>
  <script src="../module/common_function.js"></script>
  <script src="./index.js"></script>
</body>

</html>