@font-face {
	font-family: 'iconfont'; /* Project id 4302981 */
	src: url('//at.alicdn.com/t/c/font_4302981_bmr4qj8er56.woff2?t=1698733877406') format('woff2'), url('//at.alicdn.com/t/c/font_4302981_bmr4qj8er56.woff?t=1698733877406') format('woff'),
		url('//at.alicdn.com/t/c/font_4302981_bmr4qj8er56.ttf?t=1698733877406') format('truetype');
}

.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-closel:before {
	content: '\e6d5';
}

.icon-jiahao:before {
	content: '\eaf3';
}

.icon-xiangxiajiantou:before {
	content: '\e65e';
}

.icon-xiangzuojiantou:before {
	content: '\e660';
}
