<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>智慧会议管理系统</title>
  <link rel="stylesheet" href="../../module/vant.css">
  <link rel="stylesheet" href="../../module/common_style.css">
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <div id="index" class="col_layout" v-cloak v-my_loading="loading">
    <div class="search_box row_layout">
      <!-- 搜索 -->
      <div class="search" v-show="type!==1&&type!==2">
        <van-search class="box" v-model="search" @search="get_data()" placeholder="搜索"
          background="transparent"></van-search>
      </div>
      <div class="button1" v-show="type!==1&&type!==2" @click="get_data()">搜索</div>
      <!-- 条件筛选 -->
      <van-dropdown-menu class="type" v-show="type!==4">
        <van-dropdown-item v-model="type" @change="get_data()" :disabled="type_ban"
          :options="types"></van-dropdown-item>
      </van-dropdown-menu>
    </div>
    <!-- 架构检索路径 -->
    <div v-if="type==1||type==3" class="path_box flex_shrink">
      <div class="text2" v-for="path,index in stru_path">
        <span @click="path_back(path,index)" class="text">{{path.name}}</span>
        <span v-show="index!=stru_path.length-1">></span>
      </div>
    </div>
    <!-- 列表 -->
    <div class="scroll_box flex_grow">
      <!-- 组织列表 -->
      <div class="row row_layout" v-for="de,index in list1" @click="select_person(de)">
        <!-- 勾选 -->
        <img v-show="!de.check" src="./img/icon2.png" class="icon">
        <img v-show="de.check" src="./img/icon3.png" class="icon">
        <!-- 名 -->
        <span class="name">{{de.name}}</span>
        <!-- 下级按钮 -->
        <div :class="['button1',de.check?'disable':'able']" @click.stop="get_data(de,de.check)">下级
        </div>
      </div>
      <!-- 分割线 -->
      <div v-if="list2.length && list1.length" class="line_between"></div>
      <!-- 人员列表 -->
      <div class="row row_layout" v-for="person,index in list2" @click="select_person(person)">
        <!-- 勾选 -->
        <img v-show="!person.check" src="./img/icon2.png" class="icon">
        <img v-show="person.check" src="./img/icon3.png" class="icon">
        <!-- 名 -->
        <span class="name">{{person.name}}</span>
      </div>
    </div>
    <!-- 分页 -->
    <van-pagination v-show="type!=2" class="page_box flex_shrink" @change="get_data" v-model="page_num"
      :total-items="total_person" :show-page-size="3" force-ellipses :items-per-page="page_size">
      <template #prev-text>
        <van-icon name="arrow-left"></van-icon>
      </template>
      <template #next-text>
        <van-icon name="arrow"></van-icon>
      </template>
    </van-pagination>
    <!-- 已选 -->
    <div class="foot row_layout flex_shrink" @click="select_show=true">
      <span class="text">已选择({{select_list.length}}/1000)</span>
      <div class="button1" @click.stop="submit">确定</div>
    </div>

    <!-- 弹窗 -->
    <van-popup class="select_box col_layout" v-model="select_show" position="bottom">
      <div class="text">已选择({{select_list.length}}/1000)</div>
      <div class="scroll">
        <div class="tag row_layout" v-for="t,index in select_list" @click="del_select(index)">
          <span class="text_ellipsis">{{t.name}}</span>
          <span>x</span>
        </div>
      </div>
      <div class="submit">
        <div class="button1" @click="select_show=false">关闭</div>
      </div>
    </van-popup>
  </div>

  <script src="../../../运维人员部署请修改我.js"></script>
  <script src="../../module/vue.js"></script>
  <script src="../../module/vant.min.js"></script>
  <script src="../../module/axios.min.js"></script>
  <script src="../../module/common_function.js"></script>
  <script src="./index.js"></script>
</body>

</html>