<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../module/element-ui.css">
  <link rel="stylesheet" href="../module/common_style.css">
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <div id="index" v-cloak v-loading="html.page_loading">
    <div class="header row_layout flex_shrink">固件详情</div>
    <div class="header2 row_layout flex_shrink">
      <el-input @keyup.enter.native="get_firmware_list" clearable placeholder="模糊搜索" v-model="html.search"
        class="search" size="small">
        <i slot="suffix" @click="get_firmware_list" class="el-input__icon el-icon-search button"></i>
      </el-input>
      <el-select v-model="html.product_selected" @change="get_firmware_list('')" clearable filterable
        placeholder="根据产品筛选" class="product" size="small">
        <el-option v-for="item in product_list" :label="item.productName" :value="item.id">
        </el-option>
      </el-select>
      <el-button v-show="config.create_show" @click="add_firmware" type="primary" round size="small">创建固件</el-button>
      <el-button v-show="config.history_show" @click="update_history(1)" round size="small">升级历史</el-button>
    </div>
    <div class="table_box">
      <el-table :data="firmware_list" :max-height="html.table_h" border>
        <el-table-column prop="id" label="固件ID"></el-table-column>
        <el-table-column prop="firmwareName" label="固件版本名称"></el-table-column>
        <el-table-column prop="productName" label="产品名称"></el-table-column>
        <el-table-column label="模式" width="100">
          <template slot-scope="scope">
            <span>{{scope.row.upgradeMode?'链接':'分片'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="firmwareVersion" label="固件版本号"></el-table-column>
        <el-table-column prop="firmwareUrl" label="文件路径"></el-table-column>
        <el-table-column label="操作" width="150">
          <template slot-scope="scope">
            <el-dropdown @click="edit_firmware(scope.row)" @command="other_operate($event,scope.row)" split-button
              type="primary">
              编辑
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item v-show="config.export_show" command="export">导出文件</el-dropdown-item>
                <el-dropdown-item v-show="config.update_show" command="upgrade">升级</el-dropdown-item>
                <el-dropdown-item v-show="config.del_show" command="del">删除</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="paging flex_shrink row_layout">
      <el-pagination @current-change="get_firmware_list" background layout="total, prev, pager, next" :page-size="20"
        :current-page="firmware_cur_page" :total="firmware_total"></el-pagination>
    </div>

    <!-- 弹窗 -->
    <!-- 创建固件 -->
    <div class="popover" v-if="html.firmware_display">
      <el-card class="form_layout" style="width: 500px;" v-loading="html.popover_loading"
        :element-loading-text="firmware_form.load_text">
        <div class="form_head">
          <span class="title">{{add_or_edit=='add'?'创建':'编辑'}}固件版本</span>
          <div class="button" @click="html.firmware_display=false">
            <i class="el-icon-close icon"></i>
          </div>
        </div>
        <el-form ref="firmware_form" :model="firmware_form" :rules="firmware_rules" label-width="auto">
          <div class="scroll_box">
            <el-form-item label="固件关联产品" prop="product">
              <el-select v-model="firmware_form.product" clearable placeholder="请选择产品" size="medium" filterable>
                <el-option v-for="item in product_list" :label="item.productName" :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="固件版本名称" prop="name">
              <el-input v-model="firmware_form.name" size="medium" placeholder="请输入名称" clearable></el-input>
            </el-form-item>
            <el-form-item label="固件版本" required>
              <el-input v-model="firmware_form.ver" size="medium" disabled></el-input>
            </el-form-item>
            <el-form-item label="选择固件" required>
              <div class="row_layout">
                <input @change="file_selected" type="file" id="select_file" style="width: 0;height: 0;">
                <span class="text row_layout text_ellipsis" :title="firmware_form.file_name">
                  {{firmware_form.file_name}}
                </span>
                <el-button @click="select_file" :disabled="add_or_edit=='edit'" size="small" type="primary"
                  style="margin-left: 20px;">选取文件</el-button>
              </div>
              <div class="verify_text" v-show="firmware_rules.file.show">{{firmware_rules.file.message}}</div>
            </el-form-item>
            <el-form-item label="模式" required>
              <div class="row_layout" style="height: 40px;">
                <el-radio-group v-model="firmware_form.model">
                  <el-radio :label="0">分片</el-radio>
                  <el-radio :label="1">链接</el-radio>
                </el-radio-group>

                <el-tooltip effect="light" content="Top Center 提示文字" placement="top">
                  <div slot="content">
                    分片：适用于单片机等小存储设备，将文件切片成小文件后使用MQTT升级
                    <br />
                    链接：适用于无存储压力的设备，将只传输URL给设备，设备自行下载
                  </div>
                  <i class="el-icon-info" style="font-size: 16px;margin-left: 20px;color: #5cb6ff;"></i>
                </el-tooltip>
              </div>
            </el-form-item>
          </div>
          <el-form-item>
            <el-button type="primary" @click="firm_sub('firmware_form')">确定</el-button>
            <el-button @click="html.firmware_display=false">取消</el-button>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
    <!-- 选择升级设备 -->
    <div class="popover" v-if="html.upgrade_display">
      <el-card class="form_layout" style="width: 50%;min-width: 600px;" v-loading="html.popover_loading">
        <div class="form_head">
          <span class="title">选择固件升级设备</span>
          <div class="button" @click="html.upgrade_display=false">
            <i class="el-icon-close icon"></i>
          </div>
        </div>
        <el-form ref="upgrade_form" :model="upgrade_form" :rules="upgrade_rules" label-width="auto" class="up_form">
          <el-form-item label="文件切片传输大小" prop="size">
            <div class="row_layout">
              <el-input v-model="upgrade_form.size" size="mini" placeholder="请输入切片大小" clearable></el-input>
              <span style="margin:0 10px">KB</span>
            </div>
          </el-form-item>
          <el-form-item label="是否强制重传" required>
            <div class="row_layout" style="height: 40px;">
              <el-radio-group v-model="upgrade_form.force">
                <el-radio :label="false">否</el-radio>
                <el-radio :label="true">是</el-radio>
              </el-radio-group>
              <i class="el-icon-warning-outline tips_icon" :title="html.tips"></i>
            </div>
          </el-form-item>
          <el-form-item label="选择要升级的设备" required>
            <div v-if="upgrade_form.list.length>0" style="display: flex;flex-direction: column;">
              <el-input v-model="upgrade_form.search" prefix-icon="el-icon-search" size="mini">
              </el-input>

              <el-table class="flex_shrink" :data="upgrade_form.list" max-height="300" @selection-change="select_device"
                style="width: 100%;">
                <el-table-column type="selection" width="30"></el-table-column>
                <el-table-column prop="deviceName" label="设备名"></el-table-column>
                <el-table-column prop="deviceIp" label="设备IP"></el-table-column>
                <el-table-column label="当前固件版本">
                  <template slot-scope="scope">
                    <span>{{scope.row.hardwareVersion||'无'}}</span>
                  </template>
                </el-table-column>
              </el-table>

              <el-pagination class="paging" @current-change="get_product_device_list" layout="prev, pager, next"
                :current-page="upgrade_form.cur_page" :total="upgrade_form.total"
                :page-size="upgrade_form.page_size"></el-pagination>
            </div>
            <el-empty v-show="upgrade_form.list.length==0" description="无设备" :image-size="100"
              style="width: 70%;padding: 0;">
            </el-empty>
            <div class="verify_text" v-show="upgrade_rules.select.show">{{upgrade_rules.select.message}}</div>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="up_sub('upgrade_form')">确定</el-button>
            <el-button @click="html.upgrade_display=false">取消</el-button>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
    <!-- 升级历史 -->
    <div class="popover" v-if="history.show">
      <div class="history_window form_layout col_layout" style="width: 70%;min-width: 600px;"
        v-loading="html.popover_loading">
        <div class="form_head flex_shrink">
          <span class="title">升级历史</span>
          <div class="button" @click="history.show=false">
            <i class="el-icon-close icon"></i>
          </div>
        </div>
        <!-- 检索 -->
        <div class="search row_layout flex_shrink">
          <div class="title">任务时间</div>
          <el-date-picker v-model="history.time_range" @change="update_history(1)" type="datetimerange"
            range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" size="small"
            style="margin-right: 20px;">
          </el-date-picker>

          <div class="title">任务类型</div>
          <el-select v-model="history.type" @change="update_history(1)" size="small">
            <el-option v-for="item in history.type_options" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
        </div>
        <!-- 列表 -->
        <el-table class="task_table" :data="history.task_list" max-height="300" style="margin-bottom: 20px;">
          <el-table-column prop="id" label="任务ID"></el-table-column>
          <el-table-column prop="created" label="创建时间"></el-table-column>
          <el-table-column label="任务类型" width="100">
            <template slot-scope="scope">
              <span>{{scope.row.upgradeMode?'链接':'分片'}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="firmwareVersion" label="升级版本"></el-table-column>
          <el-table-column label="操作" width="150">
            <template slot-scope="scope">
              <el-button @click="task_detail(1,scope.row.id)" size="small">查看详情</el-button>
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <el-pagination @current-change="update_history" background layout="total, prev, pager, next" :page-size="20"
          :current-page="history.task_cur" :total="history.task_total" style="align-self: center;"></el-pagination>
      </div>
    </div>
  </div>

  <script src="../../运维人员部署请修改我.js"></script>
  <script src="../../js/Zhr_Basics.js"></script>
  <!-- <script src="../module/vue.js"></script>
  <script src="../module/element-ui.js"></script>
  <script src="../module/axios.min.js"></script> -->
  <script src="../module/spark-md5.min.js"></script>
  <!-- <script src="../module/fcup.min.js"></script> -->
  <script src="../module/common_function.js"></script>
  <script src="./index.js"></script>
</body>

</html>