<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="https://unpkg.com/vant@2.12/lib/index.css">
  <link rel="stylesheet" href="../../module/common_style.css">
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <div id="index" class="col_layout" v-cloak v-my_loading="loading">
    <!-- 头部 -->
    <div id="header">
      <img src="./img/icon2.png" class="bg_img">

      <div class="text">{{username}}，您好！</div>

      <div class="row_layout">
        <div class="text">今日{{today.total}}个会议</div>

        <div class="text row_layout" @click="show_picker('tenant')">
          <div class="text_ellipsis">{{cur_tenant.name}}</div>
          <img src="./img/icon1.png" class="icon">
        </div>
      </div>
      <!-- 会议列表 -->
      <van-swipe class="meeting_scroll">
        <van-swipe-item class="meeting" v-for="m in today.list" @change="next_page_meeting">
          <div class="flex_shrink time col_layout">
            <div class="text blue">{{m.statusName}}</div>
            <div class="text2">{{m.start}}</div>
            <div class="line"></div>
            <div class="text2">{{m.end}}</div>
          </div>

          <div class="flex_grow detail">
            <img src="./img/icon3.png" class="bg_img">

            <div class="col_layout">
              <div class="title">{{m.theme}}</div>

              <div class="row_layout">
                <img src="./img/icon5.png" class="icon">
                <div class="text">主持人：{{m.moderatorName}}</div>
              </div>

              <div class="row_layout">
                <img src="./img/icon4.png" class="icon">
                <div class="text">{{m.roomName}}</div>
              </div>
            </div>

            <img src="./img/icon6.png" class="icon flex_shrink">
          </div>
        </van-swipe-item>
      </van-swipe>
      <!-- 功能 -->
      <div class="module">
        <div class="col_layout" v-for="m in modules" @click="turn_to_page(m.name)">
          <img class="icon" :src="m.img">
          <div class="text">{{m.name}}</div>
        </div>
      </div>
    </div>
    <!-- 会议室列表 -->
    <div class="room_list flex_grow">
      <div class="box col_layout" v-for="r in rooms">
        <div class="title text_ellipsis">{{r.placeName}}</div>

        <div class="flex_grow col_layout">
          <img src="./img/icon11.png" class="bg_img">

          <div class="row_layout">
            <div :class="['dot',r.status?'blue':'green']">&#9679</div>
            <div :class="['text',r.status?'blue':'green']">{{r.status?'使用中':'空闲中'}}</div>
            <img class="icon" src="./img/icon12.png">
          </div>

          <div class="text">智慧设备：等接口</div>

          <div class="center" @click="turn_to_page('会议预约',r.id)">预约会议</div>
        </div>
      </div>
    </div>

    <!-- 弹窗 -->
    <van-popup v-model="picker.show" position="bottom" round>
      <van-picker :title="picker.title" show-toolbar :columns="picker.list" @confirm="picker_select"
        @cancel="picker.show=false"></van-picker>
    </van-popup>
  </div>

  <!-- <script src="../../../运维人员部署请修改我.js"></script> -->
  <script src="../../module/vue.js"></script>
  <script src="https://unpkg.com/vant@2.12/lib/vant.min.js"></script>
  <script src="../../module/axios.min.js"></script>
  <script src="../../module/common_function.js"></script>
  <script src="./index.js"></script>
</body>

</html>