<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../module/element-ui.css">
    <link rel="stylesheet" href="./index.css">

    
</head>
<body>
    <div id="wireless">
        <div class="content">
            <div class="device">
                <div class="device-top">
                    <div class="deviceState-box">
                        <div class="deviceState" :style="{background:deviceData.Status === 1 ? '#0CC478' :'#EE2F5C'}">{{ deviceData.Status === 1 ? '在线':'离线' }}</div>
                    </div>
                    <div class="deviceMac">
                        <span>Mac: {{ deviceData.MAC }}</span>
                    </div>
                    <div class="deviceIp">
                        <span>设备IP: {{ deviceData.IP }}</span>
                    </div>
                    <div class="freqCode">
                        频段：{{ deviceData.FreqCode }}MHz
                    </div>
                    <div class="deviceLock" @click="setLock">
                        <img src="./images/nolock.png" alt="" v-if="deviceData.Lock === 'OFF'">
                        <img src="./images/lock.png" alt="" v-else>
                    </div>
                </div>
                <div class="device-info">
                    <div class="access" v-for="(el) in deviceData.channel" :key="el.accessId">
                        <div class="accessName">
                            <div class="accessId"><span>通道ID：{{ el.Chan }}</span></div>
                            <P class="access-p"><img src="./images/group.png" alt=""><span> 群组：{{ el.Group === 9 ? 'U' : el.Group }}</span></P>
                            <P class="access-p" v-if="el.Group !== 9"><img src="./images/CH.png" alt=""><span>信道：{{ el.CH }}</span></P>
                            <div style="display:flex">
                                <div v-if="el.IsMicroPhoneConnect && deviceData.Status === 1" class="microphone">
                                    <img src="./images/micOn.png" alt="" v-if="!el.IsDeviceMute">
                                    <img src="./images/micOff.png" alt="" v-else>
                                </div>
                            </div>
                        </div>
                        <div class="accessInfo">
                            <div class="info-content">
                                <div class="info-content-top">
                                    <div class="freq-box">
                                        <p class="data-img"><img src="./images/freq.png" alt=""></p>
                                        <p class="elData">{{(el.Freq/1000).toFixed(3)}}</p>
                                        <p class="unit">MHz</p>
                                    </div>
                                    <div class="sq-box">
                                        <p class="data-img"><img src="./images/SQ.png" alt=""></p>
                                        <p class="elData">{{el.SQ}}</p>
                                        <p class="unit">dB</p>
                                    </div>
                                    <div class="vol-box">
                                        <P class="data-img"><img src="./images/Vol.png" alt=""></P>
                                        <p class="elData">{{el.Vol}}</p>
                                        <p class="unit">dB</p>
                                    </div>
                                    <div class="set-and-mute">
                                        <div class="setChannelIcon"><img src="./images/setChannel.png" alt=""  @click="setChannel(el)"></div>
                                        <div style="width: 100%;"><div :class="[el.IsMute || !el.IsMicroPhoneConnect ? 'muted' : 'Nomute']" @click="setMute(el)">MUTE</div></div>
                                        <div>
                                            <div class="battery-area">
                                                <div :style="{color:getBatteryColor(el.Battery)}" class="battery-container">
                                                    <div class="battery-img" v-if="el.IsMicroPhoneConnect && deviceData.Status === 1">
                                                        <img v-if="el.Battery === 0" src="./images//percent0.png" alt="">
                                                        <img v-else-if="el.Battery === 25" src="./images/percent25.png" alt="">
                                                        <img v-else-if="el.Battery === 50" src="./images/percent50.png" alt="">
                                                        <img v-else-if="el.Battery === 75" src="./images/percent75.png" alt="">
                                                        <img v-else-if="el.Battery === 100" src="./images/percent100.png" alt="">
                                                    </div>
                                                    <div v-if="el.IsMicroPhoneConnect && deviceData.Status === 1" style="font-size: 1.25rem;">
                                                        {{ el.Battery }}<span class="unit">%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-content-bottom">
                                    <div class="info-RF">
                                        <span>RF</span>
                                        <div class="RF-AF-box">
                                            <div class="RF-AF">
                                                <div class="shell" v-if="el.IsMicroPhoneConnect && deviceData.Status === 1">
                                                    <div v-for="(item,index) in getRFarray(el.RF_RSSI)" class="block" :key="index" style="background-color: #4B85FF;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="info-RF">
                                        <span>AF</span>
                                        <div class="RF-AF-box">
                                            <div class="RF-AF">
                                                <div class="shell" v-if="el.IsMicroPhoneConnect && deviceData.Status === 1">
                                                    <div v-for="(item,index) in getAFarray(el.AF_RSSI)" class="block" :key="index" style="background-color: #08AF6A;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <el-dialog :visible.sync="dialogVisible" :close-on-click-modal="false" :modal-append-to-body="false" @closed="quitDialog" class="setDialog">
            <div slot="title" class="dialog-title">
                <img src="./images/dialogName.png" alt=""><p> {{dialogData.Chan}} 通道详情</p>
            </div>
            <div class="dialogContent">
                <div class="contentLeft">
                    <div class="left-top">
                        <div class="scaleRule">
                            <p>1μV</p><p>10μV</p><p>100μV</p><p>1mV</p>
                        </div>
                        <div style="display: flex;justify-content: space-between;">
                            <div style="width:78%;">
                                <div class="RFA">
                                    <P>RF A</P>
                                    <div class="RF-AFA">
                                        <div class="shell" v-if="dialogData.IsMicroPhoneConnect && dialogData.valueANT ===1">
                                            <div v-for="(item,index) in getRFarray(dialogData.RF_RSSI)" class="block" :key="index" style="background-color: #4B85FF;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="RFA">
                                    <P>RF B</P>
                                    <div class="RF-AFA">
                                        <div class="shell" v-if="dialogData.IsMicroPhoneConnect  && dialogData.valueANT === 2">
                                            <div v-for="(item,index) in getRFarray(dialogData.RF_RSSI)" class="block" :key="index" style="background-color: #4B85FF;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="width:22%;margin-top:0.3124rem">
                                <el-radio :label="0" v-model="dialogData.ANT" @change="changeANT">AUTO</el-radio>
                                <el-radio :label="1" v-model="dialogData.ANT" @change="changeANT">ANT A</el-radio> 
                                <el-radio :label="2" v-model="dialogData.ANT" @change="changeANT">ANT B</el-radio>
                            </div>
                        </div>
                        <div class="scaleRule" style="padding-top: 0;">
                            <p>0</p><p>5</p><p>10</p><p>15</p><p>20</p><p>25</p>
                        </div>
                        <div style="display: flex;justify-content: space-between;">
                            <div style="width:78%;">
                                <div class="RFA">
                                    <P>SQ</P>
                                    <div class="RF-AFA">
                                        <div class="SQ-shell">
                                            <div v-for="(item,index) in getSQarray(dialogData.SQ)" class="sq-block" :key="index" style="background-color: #F0AA67;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="add-declineSQ" style="width:22%;margin-top:0.5rem">
                                <el-button alt="" @click="setSQ('subSQ',dialogData.SQ)" @mousedown.native="longSetSQ('subSQ')"   @mouseup.native="overSetSQ" :disabled="disabledSQ === 0" class="addBtn"></el-button>
                                <el-button alt="" @click="setSQ('addSQ',dialogData.SQ)" @mousedown.native="longSetSQ('addSQ')"   @mouseup.native="overSetSQ" :disabled="disabledSQ === 25"></el-button>
                            </div>
                        </div>
                        
                    </div>
                    <div class="left-bottom">
                        <div class="scaleRule">
                            <p>0</p><p>20</p><p>40</p><p>60</p><p>80</p><p>100%</p>
                        </div>
                        <div style="display: flex;justify-content: space-between;">
                            <div style="width:78%">
                                <div class="RFA">
                                    <P>AF</P>
                                    <div class="RF-AFA">
                                        <div class="shell" v-if="dialogData.IsMicroPhoneConnect">
                                            <div v-for="(item,index) in getAFarray(dialogData.AF_RSSI)" class="block" :key="index" style="background-color: #0CCA7B;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="peakArea"><span class="AFdot" :style="{background:dialogData.AF_RSSI >= 1611 ? 'red' :'#0CCA7B'}"></span>PEAK</div>
                        </div>
                        
                    </div>
                </div>
                <div class="contentRight">
                    <div class="rightOperate">
                        <div>群组</div>
                        <div class="add-decline">
                            <el-select v-model="groupValue" placeholder="请选择" @change="setGroup" style="margin-left:23%">
                                <el-option 
                                   v-for="item in groupData"
                                   :key="item.value"
                                   :label="item.lable"
                                   :value="item.value"
                                ></el-option>
                            </el-select>
                        </div>
                    </div>
                    <div class="rightOperate" v-show="groupValue !== 'U'">
                        <div>信道</div>
                        <div class="add-decline">
                            <div v-if="deviceChannelNum === 2" style="margin-left:23%">
                                <div v-if="setChan === 'A'">
                                    <el-select v-model="chValue" placeholder="请选择" @change="setCH" v-if="groupValue <= 4">
                                        <el-option 
                                           v-for="item in chData.slice(0,8)"
                                           :key="item.value"
                                           :label="item.lable"
                                           :value="item.value"
                                        ></el-option>
                                    </el-select>
                                    <el-select v-model="chValue" placeholder="请选择" @change="setCH" v-else>
                                        <el-option 
                                           v-for="item in chData.slice(0,12)"
                                           :key="item.value"
                                           :label="item.lable"
                                           :value="item.value"
                                        ></el-option>
                                    </el-select>
                                </div>
                                <div v-else>
                                    <el-select v-model="chValue" placeholder="请选择" @change="setCH" v-if="groupValue <= 4">
                                        <el-option 
                                           v-for="item in chData.slice(8,16)"
                                           :key="item.value"
                                           :label="item.lable"
                                           :value="item.value"
                                        ></el-option>
                                    </el-select>
                                    <el-select v-model="chValue" placeholder="请选择" @change="setCH" v-else>
                                        <el-option 
                                           v-for="item in chData.slice(12,24)"
                                           :key="item.value"
                                           :label="item.lable"
                                           :value="item.value"
                                        ></el-option>
                                    </el-select>
                                </div>
                            </div>
                            <div v-else-if="deviceChannelNum === 4" style="margin-left:23%">
                                <div v-if="setChan === 'A' || setChan === 'B'">
                                    <el-select v-model="chValue" placeholder="请选择" @change="setCH" v-if="groupValue <= 4">
                                        <el-option 
                                           v-for="item in chData.slice(0,8)"
                                           :key="item.value"
                                           :label="item.lable"
                                           :value="item.value"
                                        ></el-option>
                                    </el-select>
                                    <el-select v-model="chValue" placeholder="请选择" @change="setCH" v-else>
                                        <el-option 
                                           v-for="item in chData.slice(0,12)"
                                           :key="item.value"
                                           :label="item.lable"
                                           :value="item.value"
                                        ></el-option>
                                    </el-select>
                                </div>
                                <div v-else>
                                    <el-select v-model="chValue" placeholder="请选择" @change="setCH" v-if="groupValue <= 4">
                                        <el-option 
                                           v-for="item in chData.slice(8,16)"
                                           :key="item.value"
                                           :label="item.lable"
                                           :value="item.value"
                                        ></el-option>
                                    </el-select>
                                    <el-select v-model="chValue" placeholder="请选择" @change="setCH" v-else>
                                        <el-option 
                                           v-for="item in chData.slice(12,24)"
                                           :key="item.value"
                                           :label="item.lable"
                                           :value="item.value"
                                        ></el-option>
                                    </el-select>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="rightOperate" id="freqOperate">
                        <div>频率</div>
                        <div class="operate-freq">
                            <img src="./images/decline.png" alt="" @click="setFreq('subFreq',dialogData.Freq)" v-show="groupValue === 'U'">
                            <div class="freq-input"  v-if="groupValue === 'U'">
                                <el-input-number id="editFreq" v-if="setDeviceFreq === '640-690' && deviceChannelNum === 2 && setChan === 'A'" :controls="false" v-model="dialogData.Freq" :precision="3" :min="640.000" :max="664.975" @blur="setFreq('changeFreq',dialogData.Freq)"></el-input-number>
                                <el-input-number id="editFreq" v-else-if="setDeviceFreq === '640-690' && deviceChannelNum === 2 && setChan === 'B'" :controls="false" v-model="dialogData.Freq" :precision="3" :min="665.000" :max="689.975" @blur="setFreq('changeFreq',dialogData.Freq)"></el-input-number>
                                <el-input-number id="editFreq" v-else-if="setDeviceFreq === '640-690' && deviceChannelNum === 4 && (setChan === 'A' || setChan === 'B')" :controls="false" v-model="dialogData.Freq" :precision="3" :min="640.000" :max="664.975" @blur="setFreq('changeFreq',dialogData.Freq)"></el-input-number>
                                <el-input-number id="editFreq" v-else-if="setDeviceFreq === '640-690' && deviceChannelNum === 4 && (setChan === 'C' || setChan === 'D')" :controls="false" v-model="dialogData.Freq" :precision="3" :min="665.000" :max="689.975" @blur="setFreq('changeFreq',dialogData.Freq)"></el-input-number>
                                <el-input-number id="editFreq" v-else-if="setDeviceFreq === '530-580' && deviceChannelNum === 2 && setChan === 'A'" :controls="false" v-model="dialogData.Freq" :precision="3" :min="530.000" :max="554.975" @blur="setFreq('changeFreq',dialogData.Freq)"></el-input-number>
                                <el-input-number id="editFreq" v-else-if="setDeviceFreq === '530-580' && deviceChannelNum === 2 && setChan === 'B'" :controls="false" v-model="dialogData.Freq" :precision="3" :min="555.000" :max="579.975" @blur="setFreq('changeFreq',dialogData.Freq)"></el-input-number>
                                <el-input-number id="editFreq" v-else-if="setDeviceFreq === '530-580' && deviceChannelNum === 4 && (setChan === 'A' || setChan === 'B')" :controls="false" v-model="dialogData.Freq" :precision="3" :min="530.000" :max="554.975" @blur="setFreq('changeFreq',dialogData.Freq)"></el-input-number>
                                <el-input-number id="editFreq" v-else-if="setDeviceFreq === '530-580' && deviceChannelNum === 4 && (setChan === 'C' || setChan === 'D')" :controls="false" v-model="dialogData.Freq" :precision="3" :min="555.000" :max="579.975" @blur="setFreq('changeFreq',dialogData.Freq)"></el-input-number>
                            </div>
                            <div class="freq-input" v-else style="margin-left:23%">
                                <p>{{ ((dialogData.Freq * 1000)/1000).toFixed(3)}}</p>
                            </div>
                            <img src="./images/add.png" alt="" @click="setFreq('addFreq',dialogData.Freq)" v-show="groupValue === 'U'">
                        </div>
                    </div>
                    <p class="mhzClass">(MHz)</p>
                    <div class="rightOperate">
                        <div>音量</div>
                        <div class="add-decline">
                            <div class="add-declineVol">
                                <el-button @click="setVol('subVol',dialogData.Vol)" @mousedown.native="longSetVol('subVol')"   @mouseup.native="overSetVol" class="addBtn" :disabled="disabledVol === 0"></el-button>
                                <el-input-number :controls="false" v-model="dialogData.Vol" :min="0" :max="31" @change="setVol('changeVol',dialogData.Vol)"></el-input-number>
                                <el-button @click="setVol('addVol',dialogData.Vol)" @mousedown.native="longSetVol('addVol')"   @mouseup.native="overSetVol" :disabled="disabledVol === 31"></el-button>
                            </div>
                        </div>
                    </div>
                    <div class="rightOperate"  v-if="dialogData.IsMicroPhoneConnect">
                        <div>电量</div>
                        <div class="battery" :style="{color:dialogData.Battery >= 30 ? '#151515' : '#EE2F5C', borderColor:dialogData.Battery >= 30 ? '#54F3B0' : '#EE2F5C'}">
                            <div class="realBattery" :style="{width:dialogData.Battery + '%', background:dialogData.Battery >= 30 ? '#54F3B0' : '#EE2F5C'}"></div>
                            <p> {{ dialogData.Battery }}%</p>
                        </div>
                    </div>
                    <div class="tips">
                        提示：音量范围为0-31，可以通过长按按钮升高或降低音量。<span v-if="(deviceChannelNum === 2 && setChan === 'A' && groupValue === 'U') || (deviceChannelNum === 4 && (setChan === 'A' || setChan === 'B') && groupValue === 'U')">当前通道自定义群组频率范围为<span v-if="setDeviceFreq === '640-690'">640.000- 664.975</span><span v-else>530.000-554.975</span>MHz！</span>
                        <span v-if="(deviceChannelNum === 2 && setChan === 'B' && groupValue === 'U') || (deviceChannelNum === 4 && (setChan === 'C' || setChan === 'D') && groupValue === 'U')">当前通道自定义群组频率范围为<span v-if="setDeviceFreq === '640-690'">665.000- 689.975</span><span v-else>555.000-579.975</span>MHz！</span>
                    </div>
                </div>
            </div>
        </el-dialog>
    </div>

    <script>
           let htmlWidth = document.documentElement.clientWidth || document.body.clientWidth;
           // 获取html的dom
           let htmlDom = document.getElementsByTagName('html')[0];
           // 设置html的font-size
           htmlDom.style.fontSize = htmlWidth / 120 + 'px';
           window.addEventListener('resize', (e) => {
               let htmlWidth = document.documentElement.clientWidth || document.body.clientWidth;
               htmlDom.style.fontSize = htmlWidth / 120 + 'px';
           });

    </script>

    <script src="../../运维人员部署请修改我.js"></script>
    <script src="../../js/stomp.min.js"></script>
    <script src="../module/vue.js"></script>
    <script src="../module/element-ui.js"></script>
    <script src="../module/axios.min.js"></script>
    <script src="../module/common_function.js"></script>
    <script src="./index.js"></script>
</body>
</html>