* {
    margin:0;
    padding:0;
}

html,body {
    height: 100%; 
    min-height: 48rem !important;
}

body {
    width: 100%;
}


#wireless {
    width:100%;
    height: 100%;
    background-color:#92B4D6;
}

.content {
    width:100%;
    height: 100%;
}


/* 匹配自适应 */

.device {
    width: calc(100% - 9.375rem - 9.375rem);
    margin-left: 9.375rem;
    padding-top: 1.25rem;
}

.device-top {
    width: calc(100% - 0.625rem - 0.625rem);
    height: 3.75rem;
    line-height: 3.75rem;
    font-size: 1.125rem;
    background: url('./images/device-top.png');
    background-size:100% 100%;
    margin-left: 0.3125rem;
    display: flex;
    justify-content: space-between;
}


.deviceState-box {
    width: 8%;
    height: 3.75rem;
    margin-left: 5rem;
}


.deviceState{
    width: 80%;
    height: 1.875rem;
    line-height: 1.875rem;
    text-align: center;
    border-radius: .375rem;
    font-size: 1rem;
    margin-top:.9375rem;
    color:#ffffff;
}


.deviceIp {
    width: 25%;
    margin-left:.5rem;
}

.deviceMac {
    width: 27%;
    margin-left: .625rem;
}

.deviceLock{
    width: 10%;
    text-align: right;
}

.deviceLock img{
    width:1.5rem;
    height:1.5rem;
    cursor: pointer;
    margin-right: 3.75rem;
    vertical-align: middle;
}


.microphone img {
    width: 1.125rem;
    height:1.125rem;
    margin-top:0.875rem;
    margin-right: .9375rem;
}
.freqCode {
    width: 25%;
}

.device-info{
    margin-left: 0.625rem;
    width: calc(100% - 0.625rem - 1.25rem);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.access {
    width: calc((100% - 1.25rem)/2);
    margin-top:0.625rem;
}

.accessName {
    width: 100%;
    height: 2.75rem;
    font-size: 1rem;
    line-height: 2.75rem;
    background: linear-gradient(0deg, #4D68F0, #26B3F5);
    border-radius: .5rem .5rem 0rem 0rem;
    color:#ffffff;
    display: flex;
    justify-content: space-between;
}



.accessName .accessId {
    margin-left:.9375rem;
}

.access-p img {
    margin-top:.8125rem;
    width: 1.125rem;
    height: 1.125rem;
    vertical-align: top;
}
.access-p span {
    display: inline-block;
    height: 2.75rem;
    line-height: 2.75rem;
    margin-left: .625rem;
}

.info-content {
    width: clac(100% - .5rem);
    height: 12.5rem;
    background: linear-gradient(141deg, #DAEAFA, #E8F2FF);
    border: .25rem solid #c1ddf7;
    border-radius: 0rem 0rem .5rem .5rem;
    font-size: 1.125rem;
    font-weight: 400;
}

.info-content-top,
.info-content-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info-content-top {
    height: 10rem;
}

.info-content-bottom {
    height: 2.5rem;
    line-height: 2.5rem;
}


.freq-box,
.sq-box,
.vol-box {
    width: 20%;
    height: 8.125rem;
    background: linear-gradient(0deg, #F5FAFF 0%, #FFFFFF 100%);
    box-shadow: 0rem .125rem .25rem 0rem #A4B6D2;
    border-radius: 1.0625rem;
    margin-top:.9375rem;
}

.freq-box {
    margin-left: 1.875rem;
}

.data-img {
    height: 2.25rem;
    border-bottom: .0625rem solid #CADFF5;
    text-align: center;
}

.data-img img {
    width: 1.875rem;
    height: 1.25rem;
    margin-top:.5rem
}

.elData {
    height: 3.3125rem;
    line-height: 3.3125rem;
    text-align: center;
    font-size: 1.25rem;
}

.unit {
    height: 1.875rem;
    line-height: 1.875rem;
    text-align: center;
    font-size: 1rem;
    color: #6D8BA2;
}

.set-and-mute {
    width:20%;
    height: 7.5rem;
    margin-top:.9375rem;
    text-align: center;
    margin-right: 1.25rem;
}


.setChannelIcon img{
    margin-top:.3125rem;
    width: 5.1875rem;
    height: 2.25rem;
    cursor: pointer;
}

.muted,
.Nomute {
    width: 4.625rem;
    height: 1.625rem;
    font-size:.75rem;
    border-radius: .9375rem;
    text-align: center;
    line-height: 1.625rem;
    cursor: pointer;
    margin:0 auto;
    color:#ffffff;
}

.muted {
    background: linear-gradient(0deg, #F2546D 0%, #E5345A 100%);
    box-shadow: 0rem .125rem .375rem 0rem #A4B6D2;
}

.Nomute {
    background: linear-gradient(0deg, #3066E9 0%, #5EB4FB 100%);
    box-shadow: 0rem .125rem .375rem 0rem #A4B6D2;
}


.battery-area {
    width: 4.75rem;
    height: 2.5rem;
    line-height: 2.5rem;
    margin:0 auto;
    margin-top:.625rem;
}

.battery-container {
    display: flex;
}


.battery-img img {
    height: 2.5rem;
    width: 1.25rem;
    margin-right:.3125rem;
}


/* .battery-icon {
    width: .9375rem;
    height: 2.25rem;
    position: relative;
    border: .125rem solid #c5c8cc ;
    border-radius: .25rem;
    margin-right: .3125rem;
}

.battery-icon::after {
    content: "";
    display: block;
    height: .25rem;
    width: .5rem;
    position: absolute;
    background:#c5c8cc;
    right: .25rem;
    top: -2.625rem;
    bottom: 0;
    margin: auto 0;
}

.battery-shell {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #F8FAFC ;
    display: flex;
    flex-direction: column-reverse;
}

.battery-block {
    width: 86%;
    height:20%;
    margin:0 auto;
    margin-top:.0938rem;
    border-radius: .0625rem;
}


.battery-shell :nth-child(1) {
    margin-bottom:0.0625rem;
    margin-top:0.0625rem
} */




.info-RF {
    display: flex;
    width: 44%;
    font-size: 1.125rem;
    margin-left: 2rem;
}


.info-RF span {
   margin-right:.5rem;
}

.RF-AF-box {
    width: 70%;
    height: 3.125rem;
}

.RF-AF{
    width: 100%;
    height: 1.5rem;
    background: #C6DBED;
    box-shadow: 0rem .0625rem .25rem 0rem rgba(0,0,0,0.35);
    border-radius: .375rem;
    transform-origin: left top;
    margin-top:.4375rem;
}

.RF-AFA{
    width: 16.5rem;
    height: 1.75rem;
    background: #C6DBED;
    box-shadow: 0rem .0625rem .25rem 0rem rgba(0,0,0,0.35);
    border-radius: .375rem;
    transform-origin: left top;
}

.shell{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: .125rem;
    display: grid;
    grid-template-columns: repeat(24,1fr);
    grid-column-gap: .0625rem;
}

.SQ-shell {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: .25rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-column-gap: .0625rem;
}

.operate-sq :first-child {
    margin-right: .5rem;
}

.block{
    /* width: 100%; */
    width: 86%;
    height: 100%;
    border-radius: .3125rem;
}

.sq-block {
    width: 96%;
    height: 100%;
    border-radius: .3125rem;
}

.el-dialog__header {
    padding:1.25rem 1.25rem .625rem;
}

.el-dialog__body {
    padding:1.875rem 1.25rem;
}


.dialog-title {
    display: flex;
    font-size: 1.25rem;
    font-weight: 400;
    color: #151515;
    
}
.dialog-title img {
    width: 1.25rem;
    height: 1.25rem;
    margin-top:.25rem;
    margin-right: 1rem;
}

.setDialog .el-dialog {
    width: 52.1875rem;
    height: 27.4375rem;
    background: linear-gradient(0deg, #E6F0F9 0%, #F6FAFF 100%);
    border: .125rem solid #DBEEFF;
    border-radius: 1.25rem;
}

.el-dialog__headerbtn {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    padding: 0;
    background: 0 0;
    border: none;
    outline: 0;
    cursor: pointer;
    font-size: 1rem;
}

.el-dialog__body {
   padding-top:.5rem;
   font-size: .875rem;
}

.dialogContent {
   height:100%;
   display: flex;
   justify-content: space-between;
}

.contentLeft {
    width: 29.6875rem;
    height: 20rem;
}

.contentRight {
    width: 13.75rem;
    height: 20rem;
    margin-right: 1.25rem;
}

.left-top {
    width: 29.6875rem;
    height: 13.125rem;
    background: #D8E7F4;
    box-shadow: 0rem .125rem .375rem 0rem rgba(0,0,0,0.35);
    border-radius: 1.25rem;
}
.left-bottom {
    width: 29.6875rem;
    height: 5.8125rem;
    background: #D8E7F4;
    box-shadow: 0rem .125rem .375rem 0rem rgba(0,0,0,0.35);
    border-radius: 1.25rem;
    margin-top:.875rem;
}
.scaleRule {
    margin-left:4.875rem;
    margin-right: 7rem;
    display: flex;
    justify-content: space-between;
    padding-top:.9375rem;
    color:#151515;
}
.RFA {
    margin-left: 1.3125rem;
    margin-right: 1.4375rem;
    display: flex;
    justify-content: space-between;
    margin-top:.5625rem;
    color:#151515;
    height: 1.75rem;
    line-height: 1.75rem;
    font-size: 1.125rem;
    margin-bottom:1.25rem;
}

.RFA p {
    width: 50px;
}
.RFA img {
    cursor: pointer;
}

.el-radio {
    height: 1.75rem;
    line-height: 1.75rem;
}

.el-radio__inner {
    height: .875rem;
    width: .875rem;
}

.el-radio__label,
.el-radio__input.is-checked+.el-radio__label {
    color:#151515;
    vertical-align: middle;
    font-size: 1.125rem;
}


.el-radio__input.is-checked .el-radio__inner {
    border-color:#0CCA7B;
    background-color: #0CCA7B ;
}

.AFdot {
    display: inline-block;
    width: .5625rem;
    height: .5625rem;
    margin-right: .625rem;
    border-radius: 50%;
    margin-bottom:.125rem;
}

.peakArea {
    width:22%;
    margin-top:1rem;
    font-size:1rem;
    font-weight:500;
    color:#000
}


.rightOperate {
    display: flex;
    justify-content: space-between;
    font-size: 1.125rem;
    color:#151515;
    height: 2.125rem;
    line-height: 2.125rem;
    margin-bottom: 1.25rem;
}


#freqOperate {
    margin-bottom: .3125rem;
}

.mhzClass {
    margin-left:55%;
    margin-bottom:.9375rem;
}

.add-decline,
.add-declineVol {
    display: flex;
    justify-content: space-between;
    width: 10rem;
}

.rightOperate img{
    width: 1.625rem;
    height: 1.625rem;
    margin-top:.3125rem;
    cursor: pointer;
}

.add-decline .el-select .el-input--suffix .el-input__inner {
    padding-right: 1.875rem;
}

.add-decline .el-select .el-input__prefix, .el-input__suffix {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}

.add-decline .el-select .el-input__icon {
    height: 100%;
    line-height: 2.5rem;
    font-size: .875rem;
}
.add-decline .el-input-number {
    width: 5.25rem;
}

.add-decline .el-input .el-input__inner{
    width: 5.25rem;
    height: 2.125rem;
    border: .0625rem solid #9DB3C5;
    background: linear-gradient(0deg, #E6F0F9 0%, #F6FAFF 100%);
    border-radius: .5rem;
    text-align: center;
}

.add-decline .el-input {
    width: 5.25rem;
}

.add-decline img {
    cursor: pointer;
}

.add-declineVol {
    margin-top:-0.125rem;
}

.add-declineSQ :nth-child(2) {
    margin-left: 1.25rem;
}


.add-declineVol .addBtn ,
.add-declineSQ .addBtn{
    background-image: url('./images/decline.png');
}

.add-declineVol :nth-child(3),
.add-declineSQ :nth-child(2) {
    background-image: url('./images/add.png');
}
.add-declineVol .el-button,
.add-declineSQ .el-button {
    margin-top:.5rem;
    width: 1.625rem;
    height: 1.625rem;
    padding: 0;
    border:none;
    background-color: transparent;
    background-size:100% 100%;
}

.add-declineVol :nth-child(3).el-button.is-disabled:hover,
.add-declineSQ :nth-child(2).el-button.is-disabled:hover{
    background-image: url('./images/add.png');
    background-color: transparent;
}
.add-declineVol :nth-child(1).el-button.is-disabled:hover,
.add-declineSQ :nth-child(1).el-button.is-disabled:hover{
    background-image: url('./images/decline.png');
    background-color: transparent;
}

.add-declineSQ .el-button {
    margin-top:.1875rem;
}

.battery {
    width: 10rem;
    height: 2.125rem;
    line-height: 2.125rem;
    text-align:center;
    border-radius: .5rem;
}

.operate-freq {
    width: 10rem;
    height: 2.125rem;
    display: flex;
    justify-content: space-between;
}

.freq-input {
    width: 5.25rem;
    height: 2.125rem;
    background: linear-gradient(0deg, #1AD487 0%, #54F3B0 100%);
    text-align:center;
    border-radius: .5rem;
}

.add-decline .el-input{
    height: 2.375rem;
    line-height: 2.375rem;
    font-size: 1rem;
}

.freq-input .el-input-number{
    width: 5.5rem;
}

#editFreq {
    line-height:2.375rem;
}

.freq-input .el-input-number .el-input__inner {
    width: 5.5rem;
    height: 2.125rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.125rem;
    text-align:center;
    border-radius: .5rem;
    border: none;
    background-color: transparent;
    margin-right:6.125rem;
    padding:0
}

.battery {
    border:.0625rem solid;
    position: relative;
}

.battery p {
   position: absolute;
   left:50%;
   top:50%;
   transform: translate(-50%, -50%);
}

.realBattery {
    height: 100%;
    border-radius: .5rem 0 0 8px;
}

html::-webkit-scrollbar,
.el-dialog__wrapper::-webkit-scrollbar{
    width : 4px;  
    height: 1px;
}

html::-webkit-scrollbar-thumb,
.el-dialog__wrapper::-webkit-scrollbar-thumb {
    border-radius   : 1.5px;
    background-color: #F6FEFE;
}

html::-webkit-scrollbar-track,
.el-dialog__wrapper::-webkit-scrollbar-track {
    border-radius: 1.5px;
    background   :#c7dff5;
}


