* {
	user-select: none;
}
#index {
	width: 100%;
	height: 100%;
	position: absolute;
	background: #fff;
	padding: 12px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-width: 1000px;
	min-height: 800px;
}
.row_layout {
	display: flex;
	align-items: center;
}
.col_layout {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header {
	padding: 2.5rem 0.5rem;
	background: #eef2fe;
	border-radius: 12px;
	font-size: 0.9rem;
	> .margin {
		margin-right: 0.5rem;
	}
}
.body {
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	align-content: start;
	overflow: auto;
	> .card {
		width: 17rem;
		height: 13rem;
		background: #eef2fe;
		border-radius: 6px;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		margin: 0.6rem;
		> .box1 {
			flex-grow: 1;
			position: relative;
			z-index: 10;
			display: flex;
			flex-direction: column;
			> .box1_1 {
				padding: 1px 3px;
				color: #fff;
				font-size: 0.6rem;
				background-color: rgba(72, 76, 82, 0.8);
				align-self: start;
			}
		}
		> .box2 {
			padding: 0.4rem;
			justify-content: space-between;
			overflow: hidden;
			> .text {
				font-size: 0.8rem;
				font-weight: bold;
			}
		}
	}
}
.footer {
	padding: 1rem 0;
	align-self: center;
}
.form_layout {
	max-height: none !important;
	overflow: hidden !important;
	height: calc(100% - 60px);
	background: #fff;
	border-radius: 14px;
	display: flex;
	flex-direction: column;
	> .box1 {
		padding: 10px;
		> .title {
			font-size: 1.2rem;
			font-weight: bold;
			margin: 0 auto;
		}
	}
}
