<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="../../css/eleme-dark.css">
  <link rel="stylesheet" href="../module/common_style.css">
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <div id="index" v-cloak @drop="drop($event)" @dragover.prevent>
    <!-- 选项卡 -->
    <div class="options">
      <div class="option" v-for="item,index in html.option" @click="option_switch(index)">
        <img v-show="html.option_focus==index" src="./img/管理选项卡亮.png" class="bg_img">
        <img v-show="html.option_focus!=index" src="./img/管理选项卡暗.png" class="bg_img">
        <img :src="html.option_focus==index?item.src_light:item.src_dark" class="icon">
        <span class="text">{{item.name}}</span>
      </div>
    </div>
    <!-- 内容框 -->
    <div class="contents">
      <!-- 设备管理 -->
      <div class="page1" v-show="html.option[html.option_focus].name==='设备管理'" v-loading="html.page_loading">
        <!-- 搜索框等功能 -->
        <div class="header">
          <el-input class="search" placeholder="模糊搜索" v-model="devices.search" size="small"
            @keyup.enter.native="get_all_user_devices" @change="is_empty" clearable>
            <i slot="suffix" class="el-input__icon el-icon-search button" @click="get_all_user_devices"></i>
          </el-input>
          <el-radio-group v-model="devices.type" @change="get_all_user_devices('')">
            <el-radio :label="0">全部设备<span class="num">{{devices.type_total}}</span></el-radio>
            <el-radio :label="1">未绑定<span class="num">{{devices.type_unbinding}}</span></el-radio>
            <el-radio :label="2">在线<span class="num">{{devices.type_online}}</span></el-radio>
            <el-radio :label="3">离线<span class="num">{{devices.type_offline}}</span></el-radio>
          </el-radio-group>
          <el-button v-show="config.device_bind_show" class="button1 button" @click="distribute_place"
            size="small">设备绑定</el-button>
          <el-button v-show="config.add_place_show" class="button1 button" style="margin: 0;"
            @click="add_place(status.user_id)" size="small">新增场所</el-button>
        </div>
        <!-- 列表 -->
        <div class="all_device">
          <el-table :data="devices.list" :max-height="devices.table_h" ref="devices" @selection-change="select_device"
            class="flex_shrink" border style="width: 100%;">
            <el-table-column type="selection" width="50"></el-table-column>
            <el-table-column prop="deviceName" label="设备名"></el-table-column>
            <el-table-column prop="productName" label="所属产品"></el-table-column>
            <el-table-column prop="productTypeValue" label="设备类型"></el-table-column>
            <el-table-column label="所属项目|场所" width="350">
              <template slot-scope="scope">
                <span style="color: #fff;">{{scope.row.companyName}} {{scope.row.placeName?'->':''}}
                  {{scope.row.placeName||''}}</span>

                <el-tag v-show="scope.row.placeTypeValue" size="mini">{{scope.row.placeTypeValue}}</el-tag>
              </template>
            </el-table-column>
            <el-table-column label="设备状态" width="80">
              <template slot-scope="scope">
                <el-tag v-if="scope.row.statusValue==0" size="small">未注册</el-tag>
                <el-tag v-if="scope.row.statusValue==1" size="small" type="success">在线</el-tag>
                <el-tag v-if="scope.row.statusValue==2" size="small" type="danger">离线</el-tag>
              </template>
            </el-table-column>
            <el-table-column label="IP">
              <template slot-scope="scope">
                <span style="color: #fff;font-size: 14px;">{{scope.row.deviceIp||'未配置'}}</span>
              </template>
            </el-table-column>
            <el-table-column prop="onlineTime" label="上线时间"></el-table-column>
            <el-table-column prop="offlineTime" label="离线时间"></el-table-column>
            <el-table-column prop="deviceRunTime" label="累计运行时间(小时)" width="80"></el-table-column>
            <el-table-column v-show="config.rename_device_show" label="操作" width="80">
              <template slot-scope="scope">
                <el-button @click="edit_device_name(scope.row)" type="text">改名</el-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <!-- 分页栏 -->
        <div class="paging">
          <el-pagination @current-change="get_all_user_devices" background layout="total, prev, pager, next"
            :total="devices.total" :page-size="devices.page_size"></el-pagination>
        </div>
      </div>
      <!-- 设备监控 -->
      <div class="page2" v-show="html.option[html.option_focus].name==='设备监控'">
        <!-- 按钮等 -->
        <!-- <div class="header">
          <el-select v-model="status.user_id" class="select" size="small" @change="req_place_list"
            style="margin-left: 20px;">
            <el-option v-for="item in status.user_list" :label="item.companyName" :value="item.tenantId">
            </el-option>
          </el-select>
          <div class="total" v-for="item in status.user_types">
            <div class="num">{{item.num}}</div>
            <div class="text">{{item.type}}</div>
          </div>
        </div> -->
        <div class="page2_body">
          <!-- 场所列表 -->
          <div :class="[html.place_fold?'place_list2':'place_list']">
            <div v-show="!html.place_fold" v-for="item,index in status.place_list" class="place"
              @click="get_place_devices(item.id)" @mouseenter="html.place_icon_display=index"
              @mouseleave="html.place_icon_display=-1">
              <img v-show="status.place_id==item.id" src="./img/场所亮.png" class="bg_img">
              <img v-show="status.place_id!=item.id" src="./img/场所暗.png" class="bg_img">
              <img v-show="config.rename_place_show && html.place_icon_display==index" src="./img/edit.png" class="icon"
                @click.stop="edit_place(item)">
              <span :class="['text','text_ellipsis',status.place_id==item.id?'':'text_dark']"
                :title="item.placeName">{{item.placeName}}</span>
              <img v-show="config.del_place_show && html.place_icon_display==index" src="./img/closeIcon.png"
                class="icon2" @click.stop="del_place(item)">
            </div>
            <div :class="[html.place_fold?'fold':'unfold','center','button']" @click="html.place_fold=!html.place_fold">
              <div class="icon"></div>
            </div>
          </div>
          <div class="gap"></div>
          <!-- 设备卡片 -->
          <div class="card_list">
            <!-- 功能键 -->
            <div class="box1">
              <!-- 统计 -->
              <div class="row_layout flex_shrink" style="margin-right: 100px;">
                <div v-show="status.user_id" class="total" v-for="item in status.place_types">
                  <div class="num">{{item.num}}</div>
                  <div class="text">{{item.type}}</div>
                </div>
              </div>
              <!-- 集中控制按钮 -->
              <div class="button button1" @click="turn_to_common_control">场所控制</div>
              <!-- 删除图标 -->
              <img v-show="config.del_device_show && status.user_id" src="./img/delete.png" class="icon"
                @drop="del_device" id="del_area">
            </div>
            <!-- 卡片容器 -->
            <div class="box2">
              <!-- :style="{zIndex:status.device_hover===index?'20':''}" -->
              <div v-for="item,index in status.place_devices" class="card" draggable="true"
                @dragstart="drag_device(item)">
                <img v-show="item.statusValue==1" src="./img/deviceBg.png" class="bg_img">
                <img v-show="item.statusValue!=1" src="./img/设备卡片报警.png" class="bg_img">
                <div class="img">
                  <div class="bg"></div>
                  <img :src="item.pictureUrl" class="bg_img" style="z-index: 0;object-fit: cover;">
                </div>
                <div class="type">
                  <img v-if="item.isAlarm==1" @click="alert_detail(item.id)" src="./img/offline.png"
                    class="icon flex_shrink button">
                  <div class="box2_1 flex_shrink center">
                    {{item.productType==1?html.product_type[0]:item.productType==2?html.product_type[1]:html.product_type[2]}}
                  </div>
                </div>
                <div class="name_box">
                  <div class="name text_ellipsis" :title="item.deviceName">{{item.deviceName}}</div>
                  <div class="status">
                    <div class="flex_shrink icon" :style="{backgroundColor:item.statusValue==1?'#00FFA2':'#F6B63C'}">
                    </div>
                    <span class="flex_shrink text"
                      :style="{color:item.statusValue==1?'#00FFA2':'#F6B63C'}">{{item.statusValue==1?'在线':item.statusValue?'离线':'未注册'}}</span>
                  </div>
                </div>
                <!-- @mouseenter="status.device_hover=index" @mouseleave="status.device_hover=-1" -->
                <div v-show="config.control_device_show" class="button2" @click="turn_to_device(item)">
                  <img src="./img/button.png" class="bg_img" draggable="false">

                  <!-- <div v-show="status.device_hover===index" class="box2_2">
                    <div class="box2_2_1" @click="turn_to_device(item)">
                      <img src="./img/icon.png" class="icon">
                      <span>设备详情</span>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 集中控制 -->
      <div class="page2" v-show="html.option[html.option_focus].name==='集中控制'">
        <iframe :src="html.control_url" frameborder="0" scrolling="no" style="width: 100%;height: 100%;"></iframe>
      </div>
    </div>

    <!-- 弹窗 -->
    <!-- 分配场所 -->
    <div class="popover" v-if="html.distribute_place_display">
      <el-card class="form_layout" style="width: 400px;overflow: hidden;" v-loading="html.popover_loading">
        <div class="form_head">
          <span class="title">分配设备至场所</span>
          <div class="button" @click="html.distribute_place_display=false">
            <i class="el-icon-close icon"></i>
          </div>
        </div>
        <div class="overflow">
          <div class="user_box" v-for="item in status.user_list">
            <div class="box1" @click="select_user(item)">
              <div class="icon1" v-show="status.user_id==item.tenantId"></div>
              <div class="icon2" v-show="status.user_id!=item.tenantId"></div>
              <span class="text">{{item.companyName}}</span>
              <!-- <el-button class="button" type="text" @click.stop="add_place(item.tenantId)">+ 新增场所</el-button> -->
            </div>
            <el-collapse-transition>
              <div class="box2" v-show="status.user_id==item.tenantId">
                <div v-for="item2 in status.place_list" class="box2_box" @click="select_place(item2,item)">
                  <div class="icon">
                    <i class="el-icon-check icon2" v-show="status.place_id==item2.id"></i>
                  </div>
                  <span class="text" :title="item2.placeName">{{item2.placeName}}</span>
                  <el-tag v-show="item2.placeTypeValue" size="mini">{{item2.placeTypeValue}}</el-tag>
                </div>
              </div>
            </el-collapse-transition>
          </div>
        </div>
        <div class="button_box">
          <el-button class="button1" @click="distribute_sub" type="primary" size="small">确认</el-button>
          <el-button class="button2" @click="html.distribute_place_display=false" size="small">取消</el-button>
        </div>
      </el-card>
    </div>
    <!-- 编辑/新增场所 -->
    <div class="popover" v-if="html.edit_place_display">
      <el-card class="form_layout" style="width: 400px;">
        <div class="form_head">
          <span class="title">提示</span>
          <div class="button" @click="html.edit_place_display=false">
            <i class="el-icon-close icon"></i>
          </div>
        </div>
        <el-form ref="edit_place_form" :model="edit_place_form" :rules="place_rules" label-width="80px">
          <el-form-item label="场所类型">
            <el-select v-model="edit_place_form.type">
              <el-option v-for="item in place_type_list" :label="item.name" :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="场所名称" prop="name">
            <el-input v-model="edit_place_form.name"></el-input>
          </el-form-item>
          <el-form-item class="button_layout">
            <el-button type="primary" @click="place_submit">确定</el-button>
            <el-button @click="html.edit_place_display=false">取消</el-button>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
    <!-- 设备跳转弹窗 -->
    <div class="popover" v-show="html.turn_to_device">
      <div class="device_window">
        <div class="head">
          <h2 class="title">{{html.device_name}}</h2>
          <div class="box1">
            <div v-show="html.visualizedFlag" style="display:flex;align-items:center;">
              <div v-for="item in status.visual_exclusive_config" style="margin-right:16px;">
                <el-switch v-model="item.value" @change="exclusive_visual_save(item,$event)" style="margin-right:10px;"
                  :active-value="1" :inactive-value="0"></el-switch>
                <span>{{item.label}}</span>
              </div>
            </div>

            <el-dropdown v-show="html.visualizedFlag&&!status.open_visual_edit" @command="turn_to_visual_edit"
              :disabled="!status.visual_exclusive_config[0]?.value" style="margin: 0 10px;">
              <el-button type="primary" size="small">
                设备可视化编辑<i class="el-icon-arrow-down el-icon--right"></i>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="PC">PC</el-dropdown-item>
                <el-dropdown-item command="PHONE">移动端</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
            <el-button v-show="html.visualizedFlag&&status.open_visual_edit" @click="close_visual_edit" type="danger"
              size="small">关闭</el-button>

            <el-button @click="iconize_device_window" type="warning" icon="el-icon-minus" circle
              size="mini"></el-button>
            <el-button @click="close_device_window" style="margin-left: 10px;" type="danger" icon="el-icon-close" circle
              size="mini"></el-button>
          </div>
        </div>
        <iframe class="body" :src="html.device_url" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
    <!-- 最小化窗口 -->
    <el-button v-if="html.iconize_device" @click="full_size" class="iconize_device_window" type="warning"
      size="mini">{{html.device_name}} 弹出窗</el-button>
    <!-- 告警信息弹窗 -->
    <div class="popover" v-show="html.alert_detail_display">
      <div class="alert_window">
        <div class="head">
          <span style="color:#fff;font-weight:bold;">告警详情</span>
          <el-button @click="close_alert_window" type="danger" icon="el-icon-close" circle size="mini"></el-button>
        </div>
        <div class="alert_body">
          <el-table :data="status.alert_list" :max-height="status.alert_table_h">
            <el-table-column prop="alarmTime" label="时间" width="180"></el-table-column>
            <el-table-column prop="content" label="告警内容"></el-table-column>
            <el-table-column label="操作" width="100">
              <template slot-scope="scope">
                <el-button @click="handle_alert_message(scope.row)" type="primary" size="mini">点我处理</el-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <el-pagination class="paging" @current-change="alert_detail" layout="total, prev, pager, next"
          :total="status.total_alert" :page-size="status.page_size"></el-pagination>
      </div>
    </div>
  </div>

  <script src="../../运维人员部署请修改我.js"></script>
  <script src="../module/vue.js"></script>
  <script src="../module/element-ui.js"></script>
  <script src="../module/axios.min.js"></script>
  <script src="../module/common_function.js"></script>
  <script src="./index.js"></script>
</body>

</html>