* {
    margin:0;
    padding:0;
}

html,body {
    height: 100%; 
    min-height: 48rem !important;
}

body {
    width: 100%;
}


#digitupper {
    width:100%;
    height: 100%;
    background-color:#92B4D6;
}

.content {
    width:100%;
    height: 100%;
}

.device {
    width: calc(100% - 8.375rem - 8.375rem);
    margin:0 auto;
    padding-top: 1.25rem;
}

.device-ip {
    width:100%;
    height: 3.2rem;
    line-height: 3.2rem;;
    background:url('./images/topIp.png');
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;
}

.deviceState {
    width: 6.25rem;
    height: 1.875rem;
    text-align: center;
    line-height: 1.875rem;
    border-radius: 15px;
    color:#FFFFFF;
    margin-right: 8rem;
    margin-top:.755rem;
}

.device-ip p {
    width: 40%;
    margin-left: 4.5rem;
    font-size: 1.25rem;
}

.meeting-unit {
    width: 100%;
    height: 11.375rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}


.meetingMode-bottom,
.meeting-unitState {
    display: flex;
    justify-content: space-between;
}

.meetingMode {
    width: 50%;
    background: url('./images/modebg.png');
    background-size: 100% 100%;
}

.meeting-mode {
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    color: #FFFFFF;
    font-size: 1.5rem;
    text-align: center;
}

.chairmanMode,
.changeMode,
.setNum {
    height: 5.3125rem;
    color: #202426;
}

.chairmanMode p,
.setNum p {
    width: 9rem;
    height: 1.8125rem;
    font-size: 1.375rem;
    margin-top: 1rem;
}

.chairmanMode {
    margin-left: 4.5rem;
}

.setNum {
    margin-right: 4.5rem;
}

.add-decline {
    display: flex;
    justify-content: space-between;
}

.add-decline .addBtn {
    background-image: url('./images/decline.png');
}

.add-decline :nth-child(3) {
    background-image: url('./images/add.png');
}
.add-decline .el-button {
    margin-top:0.73rem;
    width: 1.625rem;
    height: 1.625rem;
    padding: 0;
    border:none;
    background-color: transparent;
    background-size:100% 100%;
}

.add-decline :nth-child(3).el-button.is-disabled:hover{
    background-image: url('./images/add.png');
    background-color: transparent;
}
.add-decline :nth-child(1).el-button.is-disabled:hover{
    background-image: url('./images/decline.png');
    background-color: transparent;
}

.chairmanMode .el-switch__core {
    width: 3.625rem !important;
    height:1.8125rem;
    border-radius: 1.8125rem;
    margin-left: 2rem;
    margin-top:1.5rem;
}

.chairmanMode .el-switch__core:after {
    width: 1.75rem;
    height: 1.75rem;
    top:0;
    left: 0;
}

.el-switch.is-checked .el-switch__core::after {
    margin-left: -1.6875rem;
}

.setNum,
.changeMode {
    width: 9rem;
    text-align: center;
}

.changeMode {
    background:#FFFFFF;
    border-radius: 1.25rem;
    margin-top:.65rem;
}

.changeMode .el-input .el-input__inner {
    border: none;
    background: transparent;
    /* height: 2.5rem; */
    width: 100%;
    height: 100%;
    margin-left: .75rem;
    margin-top: 0.625em;;
    color:#202426
}

.changeMode .el-input .el-input__suffix {
    left: 0;
    top:2.125rem;
}

.changeMode .el-icon-arrow-up:before {
    color: #3f9bf8;
}

.changeMode .el-input__icon {
    line-height: 2.5rem;
}

.changeMode .el-input .el-input__inner{
    width: 9rem;
    height: 1.8125rem;
    font-size: 1.375rem;
}

.changeMode .el-select .el-input .el-select__caret {
    font-size: 1.5rem;
}

.setNum .el-input-number {
    width: 5rem;
    height: 2rem;
    line-height: 2rem;
    margin-top:0.5rem;
}

.setNum .el-input-number__decrease, 
.setNum .el-input-number__increase {
    width: 2rem;
    height: 2rem;
    top:0;
    background-color: #3f9bf8;
    color:#FFFFFF;
}

.setNum .el-input__inner {
    height: 2rem;
}

.setNum .el-input-number .el-input__inner {
    padding-left: 0;
    padding-right: 0;
    font-size: 1rem;
}

.connect-unit {
    width: 24.4375rem;
    background: url('./images/allUnit.png');
    background-size: 100% 100%;
}

.open-unit {
    width: 24.4375rem;
    background: url('./images/openUnit.png');
    background-size: 100% 100%;
}

.connect-unit p,
.open-unit p {
    width: 40%;
    margin-left: 50%;
    text-align: center;
}

.unit-word {
    font-size: 1.5rem;
    color: #FEFEFE;
    margin-top: 2.8rem;
}

.unit-num {
    font-size: 3rem;
    color: #FFFFFF;
}

.unit-area {
    width: calc(100% - 8.375rem - 7.5rem);
    margin-left: 8.375rem;
    height: 38rem;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 14.286%);
}

.oneUnit {
    width: 13.25rem;
    height: 18.0625rem;
    margin-top:.9375rem;
    position: relative;
}

.oneUnit p {
    width: 100%;
    height: 3.75rem;
    line-height: 3.75rem;
    text-align: center;
    font-size: 1.125rem;
    color: #202426;
    position: absolute;
    bottom: 0;

}

.onUnit {
    background: url('./images/onunit.png');
    background-size: 100% 100%;
}
.offUnit {
    background:url('./images/offunit.png');
    background-size: 100% 100%;
}

.unit-area::-webkit-scrollbar{
    width : 3px;  
    height: 1px;
}


.unit-area::-webkit-scrollbar-thumb{
    border-radius: 1.5px;
    background:#F6FEFE;
}

.unit-area::-webkit-scrollbar-track{
    border-radius: 1.5px;
    background-color: #73b6f5;
}