<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../module/element-ui.css">
    <link rel="stylesheet" href="./index.css">

    
</head>
<body>

    <div id="digitupper">
        <div class="content">
            <div class="device">
                <div class="device-ip">
                    <p>IP地址：{{deviceData.IP}}</p>
                    <div class="deviceState" :style="{background:deviceData.Status === 1 ? '#0CC478' :'#EE2F5C'}">{{ deviceData.Status === 1 ? '在线':'离线' }}</div>
                </div>
                <div class="meeting-unit">
                    <div class="meetingMode">
                        <p class="meeting-mode">会议模式</p>
                        <div class="meetingMode-bottom">
                            <div class="chairmanMode">
                                <p>主席专有模式</p>
                                <el-switch v-model="deviceData.prior" @change="setPrior" :disabled="deviceData.Status !== 1"></el-switch>
                            </div>
                            <div class="changeMode">
                                <el-select v-model="deviceData.mode" placeholder="" @change="changeMeetingmode" :disabled="deviceData.Status !== 1">
                                    <el-option 
                                       v-for="item in modeData"
                                       :key="item.value"
                                       :label="item.lable"
                                       :value="item.value"
                                    ></el-option>
                                </el-select>
                            </div>
                            <!-- <div class="setNum">
                                <p v-if="deviceData.mode === 1 || deviceData.mode === 2">数量设置</p>
                                <el-input-number v-model="deviceData.speakernum" :min="1" :max="6" :precision="0"  @change="changeSpeakernum(deviceData.speakernum)" v-if="deviceData.mode === 1 || deviceData.mode === 2"></el-input-number>
                            </div> -->
                            <div class="setNum">
                                <p v-if="deviceData.mode === 1 || deviceData.mode === 2">数量设置</p>
                                <div class="add-decline" v-if="deviceData.mode === 1 || deviceData.mode === 2">
                                    <el-button @click="setSpeakerNum('subNum',deviceData.speakernum)" class="addBtn" :disabled="deviceData.speakernum <= 1 || deviceData.Status !== 1"></el-button>
                                    <el-input-number :controls="false" v-model="deviceData.speakernum" :min="1" :max="guestUnitNum" :precision="0" @change="setSpeakerNum('changeSpeakerNum',deviceData.speakernum)" :disabled="deviceData.Status !== 1"></el-input-number>
                                    <el-button @click="setSpeakerNum('addNum',deviceData.speakernum)" :disabled="deviceData.speakernum >= guestUnitNum || deviceData.Status !== 1"></el-button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="meeting-unitState">
                        <div class="connect-unit">
                            <p class="unit-word">已连接单元</p>
                            <p class="unit-num">{{deviceData.units.length}}</p>
                        </div>
                        <div class="open-unit">
                            <p class="unit-word">已开启单元</p>
                            <p class="unit-num">{{getOpenUnit(deviceData.units)}}</p>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="unit-area">
                <div class="oneUnit" v-for="item in deviceData.units" :key="item.id" :class="[item.status ? 'onUnit' : 'offUnit']" @click="openCloseUnit(item)">
                    <p>单元id：{{item.id}}</p>
                </div>
            </div>
        </div>
    </div>

    <script>
           let htmlWidth = document.documentElement.clientWidth || document.body.clientWidth;
           // 获取html的dom
           let htmlDom = document.getElementsByTagName('html')[0];
           // 设置html的font-size
           htmlDom.style.fontSize = htmlWidth / 120 + 'px';
           window.addEventListener('resize', (e) => {
               let htmlWidth = document.documentElement.clientWidth || document.body.clientWidth;
               htmlDom.style.fontSize = htmlWidth / 120 + 'px';
           });

    </script>

    <script src="../../../运维人员部署请修改我.js"></script>
    <script src="../../../js/stomp.min.js"></script>
    <script src="../../module/vue.js"></script>
    <script src="../../module/element-ui.js"></script>
    <script src="../../module/axios.min.js"></script>
    <script src="../../module/common_function.js"></script>
    <script src="./index.js"></script>
</body>
</html>