<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="../../module/vant.css">
  <link rel="stylesheet" href="../../module/icon.css">
  <link rel="stylesheet" href="../../module/common_style.css">
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <div id="index" class="col_layout" v-cloak v-my_loading="loading">
    <!-- 返回 -->
    <div class="back_title row_layout" @click="turn_back">
      <div class="iconfont icon-xiangzuojiantou"></div>
      <div class="title">会议详情</div>
    </div>
    <!-- 会议信息 -->
    <div class="info_box col_layout">
      <!-- 背景图 为了不设置父容器隐藏 -->
      <div class="bg_img bg">
        <img src="./img/icon1.png" class="bg_img bg">
      </div>

      <div class="title margin">{{meeting.theme}}</div>

      <div class="time row_layout margin">
        <img src="./img/icon2.png" class="bg_img">
        <div>{{meeting.date}}</div>
        <img src="./img/icon3.png" class="icon">
        <div>{{meeting.start}} ~ {{meeting.end}}</div>
      </div>

      <div class="row row_layout margin">
        <img src="./img/icon4.png" class="icon">

        <div>主持人：{{meeting.emcee}}</div>
      </div>
      <div :class="['row','row_layout',meeting.door_code?'margin':'']">
        <img src="./img/icon5.png" class="icon">

        <div class="text_ellipsis">{{meeting.room}}</div>
      </div>
      <div class="row row_layout" v-show="meeting.door_code">
        <img src="./img/icon6.png" class="icon">

        <div>开门码：{{meeting.door_code}}</div>
      </div>
    </div>
    <!-- 功能 -->
    <div class="module">
      <div class="col_layout" v-for="m in modules" @click="meeting_fn(m.name)">
        <img class="icon" :src="m.img">
        <div class="text">{{m.name}}</div>
      </div>
    </div>
    <!-- 会议按钮 -->
    <div class="buttons">
      <div class="box" v-show="b.show" v-for="b in buttons" :style="b.style" @click="meeting_fn(b.name)">
        {{b.name}}
      </div>
    </div>
    <!-- 参会人员 -->
    <div class="person_title row_layout">
      <img src="./img/icon8.png" style="width: 1.6rem;height: 1.6rem;margin-right: 1rem;">
      <div class="text1">参会人员</div>
    </div>
    <div class="scroll_box flex_grow">
      <div class="box col_layout" v-for="p in meeting.users">
        <div class="title text1 text_ellipsis">{{p.name}}</div>

        <div class="status row_layout flex_grow">
          <div :class="['text',p.reply?'blue':'orange']">{{p.reply?'已参加':'未参加'}}</div>
          <div class="line"></div>
          <div :class="['text',p.sign_in?'blue':'orange']">{{p.sign_in?'已签到':'未签到'}}</div>
        </div>
      </div>
    </div>
    <!-- 签到按钮 会议未开始/开始 未签到 未转交 时显示 -->
    <div class="sign_in row_layout" v-show="sign_in_show">
      <div class="box blue" @click="meeting_fn('参加')">参加</div>
      <div class="box red" @click="meeting_fn('拒绝')">拒绝</div>
    </div>

    <!-- 弹窗 -->
    <van-dialog class="dialog" v-model="confirm.show" @confirm="dialog_confirm" :title="confirm.title"
      show-cancel-button>
      <!-- 转交 -->
      <div v-if="confirm.type=='transfer'" class="margin row_layout transfer">
        <div class="title flex_shrink">转交给</div>

        <div class="box row_layout">
          <!-- 添加 -->
          <div class="person flex_shrink" @click="meeting_fn('添加人员')">
            <div class="iconfont icon-jiahao" style="margin-right:6px;"></div>
            <div class="name">添加</div>
          </div>
          <!-- 人员列表 -->
          <div class="person flex_shrink" v-for="p,index in meeting.transfer" @click="del_person(index)">
            <div class="name text_ellipsis">{{p.name}}</div>
            <div class="iconfont icon-closel"></div>
          </div>
        </div>
      </div>
      <!-- 延迟 -->
      <div v-if="confirm.type=='delay'" class="margin row_layout delay">
        <div class="title flex_shrink">延后</div>
        <div class="box center" @click="meeting_fn('延时')">{{meeting.delay}}</div>
        <div class="text">分钟</div>
      </div>
    </van-dialog>

    <van-popup v-model="pop.show" round position="bottom" :style="pop_style()">
      <!-- 添加人 -->
      <iframe v-show="pop.type=='person'" id="pop_window" :src="pop.url" frameborder="0" scrolling="no"></iframe>
      <!-- 选择器 -->
      <van-picker v-if="pop.type=='delay'" :title="pop.title" show-toolbar :columns="pop.list" @confirm="picker_select"
        @cancel="pop.show=false">
      </van-picker>
    </van-popup>
  </div>

  <!-- <script src="../../../运维人员部署请修改我.js"></script> -->
  <script src="../../module/vue.js"></script>
  <script src="../../module/vant.min.js"></script>
  <script src="../../module/axios.min.js"></script>
  <script src="../../module/common_function.js"></script>
  <script src="./index.js"></script>
</body>

</html>