* {
	user-select: none;
}
#index {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: -10;
}
.center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.row_layout {
	display: flex;
	align-items: center;
}
.col_layout {
	display: flex;
	flex-direction: column;
}
.flex_grow {
	flex-grow: 1;
}
// 面板固定样式
.panel {
	width: 100%;
	position: relative;
	z-index: -100;
}
.css_img {
	background-size: 100% 100%;
}
// 滑动条
.slider_box {
	display: flex;
	flex-direction: column;
	align-items: center;
	.text {
		font-size: 12px;
		color: #fff;
		padding: 4px 10px;
		max-width: 100%;
		z-index: 1;
		position: absolute;
		top: 4%;
	}
	.box1 {
		width: 50%;
		position: absolute;
		z-index: 1;
		display: flex;
		justify-content: center;
		bottom: 8%;
		height: 70%;
		.bg_img {
			height: 92.4%;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
		}
	}
}
.slider_box2 {
	display: flex;
	align-items: center;
	.text {
		font-size: 12px;
		color: #fff;
		padding: 4px 10px;
		max-width: 27%;
		z-index: 1;
		position: absolute;
		right: 3%;
	}
	.box1 {
		height: 50%;
		position: absolute;
		z-index: 1;
		display: flex;
		align-items: center;
		left: 8%;
		width: 70%;
		.bg_img {
			width: 92.4%;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
		}
	}
}
// 进度条
.progress_box {
	display: flex;
	flex-direction: column;
	align-items: center;
	.progress {
		z-index: 1;
		flex-grow: 1;
		width: 40%; //纵向排列时height失效
		border: 2px solid #193da5;
		box-shadow: 0px 0px 0px 2px rgba(4, 13, 39, 0.84) inset;
		background: linear-gradient(90deg, #051125, #0d2e6a);

		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		.lump {
			width: 96%;
			height: 8px;
			border-radius: 2px;
		}
	}
	.text {
		font-size: 0.875rem;
		color: #fff;
		// margin: 10px 0;
		z-index: 1;
	}
}
// 按钮及按钮开关
.button_box {
	cursor: pointer;
	background-image: url('./img/icon2.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	&:active {
		background-image: url('./img/icon1.png');
	}
}
// 开关
.switch_box {
	cursor: pointer;
	.bg_img {
		border-radius: 10px;
	}
}
// 下拉框
.select_box {
	padding-right: 20px;
	display: flex;
	align-items: center;
	cursor: pointer;
	.text_ellipsis {
		z-index: 10;
	}
}
// 矩阵
.matrix {
	display: grid;
}
// 单选组
.radio_group {
	display: flex;
	flex-wrap: wrap;
	.el-radio {
		margin-right: 10px !important;
	}
	.el-radio__inner {
		width: 20px !important;
		height: 20px !important;
		&::after {
			width: 6px;
			height: 6px;
		}
	}
	.el-radio__label {
		font-size: 20px !important;
	}
}
// 多选框组
.check_box {
	display: flex;
	flex-wrap: wrap;
	.el-checkbox {
		margin-right: 10px !important;
	}
}
.input_style {
	display: flex;
	> .el-input__inner {
		flex-grow: 1;
		height: auto;
		background-color: #1c2132;
		color: #fff;
		border: 1px solid #82a6c4;
	}
	.el-input__count-inner {
		background: transparent !important;
	}
}
// 动态路径
.path {
	fill: none;
	// 万一没有对应属性 启用默认样式
	stroke: rgb(24, 144, 255);
	stroke-width: 5;
	stroke-dasharray: 15;
	// 多个svg画布 有重复id 不能在css中写死
	// marker-end: url(#arrow);
}
.path_line {
	animation-name: path_line;
	animation-duration: 30s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes path_line {
	100% {
		stroke-dashoffset: -1000;
	}
}
// 双向流动样式
.path_bothway {
	animation-name: path_bothway;
	animation-duration: 2s; // 切换频率要快才能明显表示来回
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes path_bothway {
	100% {
		stroke-dashoffset: -200;
	}
}
.arrow {
	fill: rgb(24, 144, 255);
	stroke: rgb(24, 144, 255);
}
// 文本框
.custom_text {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 6px;
	border: solid;
	> .content {
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
		white-space: nowrap;
	}
}
// 视频隐藏进度条
video::-webkit-media-controls-timeline {
	display: none;
}
video::-webkit-media-controls-play-button {
	display: none;
}
// 设备状态显示框
.device_status {
	border: 1px solid rgb(204, 204, 204);
	border-radius: 10px;
	padding: 10px;
	font-size: 14px;
	position: absolute;
	z-index: 900;
	> .head {
		justify-content: space-between;
		border-bottom: 1px solid rgb(204, 204, 204);
		margin-bottom: 10px;
		.title {
			font-size: 16px;
			margin-right: 10px;
		}
		> .row_layout {
			padding-bottom: 10px;
		}
	}
}
// 设备节点名
.device_name {
	color: rgb(204, 204, 204);
	font-size: 16px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 100%;
	white-space: nowrap;
}
// 当前会议及下场会议
.cur_meeting {
	padding: 1rem 1.5rem;
	justify-content: space-between;
	.icon1 {
		width: 0.8rem;
		height: 1rem;
		margin-right: 0.6rem;
	}
	.text1 {
		color: #3675ff;
	}
	.text2 {
		font-size: 1.5rem;
		color: #31313d;
	}
	> .box {
		position: relative;
		padding: 0.5rem 1rem;
		width: 50%;
		overflow: hidden;
		color: #fff;
		border-radius: 1000px;
	}
	.bg_img {
		// object-fit: none;
	}
}
// 会议结束倒计时
.count_down {
	align-items: center;
	padding: 10px 0;
	> .title {
		color: #ffffff;
	}
	> .time_box {
		font-size: 1.2rem;
		color: #31313d;
		margin-top: 10px;
		> .time {
			position: relative;
			padding: 5px;
			& + .time {
				margin-left: 10px;
			}
			> .icon {
				position: relative;
				padding: 5px;
				& + .icon {
					margin-left: 5px;
				}
			}
		}
	}
	.bg_img {
		object-fit: none;
	}
}
// 当前日期
.current_date {
	// background: linear-gradient(65deg, #c8ddfb 0%, #e4f1ff 100%);
	border-radius: 10px;
	// color: #31313d;
	justify-content: center;
}
// 弹窗
.popup_box {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 990;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
	// 一键巡检弹窗
	> .online_check {
		width: 60%;
		max-height: 100%;
		overflow: hidden;
		padding: 0 20px 20px 20px;
		background: #fff;
		border-radius: 10px;
		> .head {
			padding: 20px 0;
			> .title {
				margin: 0 auto;
				font-weight: bold;
			}
		}
	}
	// 音视频矩阵容器
	> .matrix_box {
		border-radius: 10px;
		background: #fff;
		padding: 0 20px 20px 20px;
		max-height: 100%;
		overflow-x: hidden;
		width: 80%;
		min-width: 800px;
		> .head {
			padding: 20px 0;
			> .title {
				margin: 0 auto;
				font-weight: bold;
			}
		}
		// 音频矩阵
		> .sound_matrix {
			display: grid;
			grid-template-rows: 30px auto;
			> .head {
				display: grid;
				grid-template-columns: repeat(13, 1fr);
				align-items: center;
				justify-items: center;
			}
			> .body {
				display: grid;
				grid-template-columns: 1fr 12fr;
				> .col {
					display: grid;
					grid-template-rows: repeat(9, 1fr);
					align-items: center;
					justify-items: center;
				}
				> .body {
					display: grid;
					grid-template-rows: repeat(9, 1fr);
					> .row {
						display: grid;
						grid-template-columns: repeat(12, 1fr);
						> .button {
							min-height: 30px;
						}
					}
				}
			}
			.title {
				color: rgba(0, 0, 0, 0.8);
			}
		}
		// 视频矩阵
		> .video_matrix {
			align-self: center;
			display: grid;
			grid-template-rows: repeat(4, 70px);
			grid-template-columns: repeat(4, 140px);
			> .button {
				margin: 10px;
				color: #fff;
				font-weight: bold;
				font-size: 14px;
			}
		}
	}
}
// 下拉框
.drop_down_box {
	position: absolute;
	z-index: 990;
	background: #fff;
	border-radius: 20px;
	padding: 0 20px;
	max-height: 200px;
	max-width: 200px;
	overflow-x: hidden;
	> .item {
		margin: 20px 0;
	}
}
// 连线信息弹窗
#line_info {
	position: fixed;
	z-index: 990;
	padding: 20px 0 0 20px;
	border-radius: 10px;
	background: #fff;
	max-width: 30vw;
	max-height: 30vh;
	overflow: hidden;
	display: flex;
	> .close {
		position: absolute;
		right: 10px;
		top: 10px;
		color: red;
		font-size: 26px;
	}
	> .scroll {
		overflow: auto;
		flex-grow: 1;
		> .box {
			margin-bottom: 20px;
			> .title {
				font-size: 16px;
				margin-bottom: 10px;
				font-weight: bold;
			}
			> .row_layout {
				margin-left: 20px;
				font-size: 16px;
				// padding-right: 20px;
				&:not(:last-of-type) {
					margin-bottom: 10px;
				}
				> .margin {
					margin-right: 10px;
				}
				> .nowrap {
					white-space: nowrap;
				}
				> .green {
					color: #32cd32;
				}
				> .red {
					color: #ff4500;
				}
				> .iconfont {
					font-weight: bold;
				}
			}
		}
	}
}
// 环境监测
.env_box {
	justify-content: space-evenly;
	padding: 1rem 0;
	background: #eceefa;
	box-shadow: 0 4px 10px 0 rgba(104, 127, 161, 0.25);
	border-radius: 1.9rem;
	.icon {
		background: #ffffff;
		border-radius: 50%;
		font-size: 1rem;
		color: #2a2930;
		margin-bottom: 0.7rem;
		width: 3rem;
		height: 3rem;
	}
	.text {
		font-size: 0.8rem;
		color: #838096;
	}
}
// 窗帘组件
.curtain_box {
	padding: 1rem 1.6rem;
	justify-content: space-evenly;
	background: #eceefa;
	box-shadow: 0 4px 10px 0 rgba(104, 127, 161, 0.25);
	border-radius: 1.9rem;
	display: flex;
	.icon {
		width: 48%;
		height: 100%;
		object-fit: contain;
		align-self: center;
	}
	> .col_layout {
		justify-content: space-between;
		> .button {
			background: #d7ddf0;
			border-radius: 0.9rem;
			padding: 0.4rem 1.5rem;
			font-size: 1.25rem;
			color: #747379;
		}
		> .select {
			background: #545674 !important;
			color: #fff !important;
		}
	}
}
// 智慧电源-全开设备
.power_open {
	padding-bottom: 1.7rem;
	justify-content: flex-end;
	align-items: center;
}
// 智慧开关
.smart_switch {
	padding: 1rem 1.6rem;
	background: #eceefa;
	box-shadow: 0px 4px 10px 0px rgba(104, 127, 161, 0.25);
	border-radius: 1.9rem;
	> .row_layout {
		justify-content: space-between;
		> .text {
			font-size: 1.2rem;
			color: #2a2930;
		}
		> .icon {
			width: 3rem;
			height: 1.5rem;
			cursor: pointer;
			position: relative;
			z-index: 10;
		}
	}
	> .text {
		align-self: center;
	}
}
// 扩声组件
.loud_sound {
	padding: 1rem 1.6rem;
	margin-left: 1.5rem;
	background: #eceefa;
	box-shadow: 0px 4px 10px 0px rgba(104, 127, 161, 0.25);
	border-radius: 1.9rem;
	> .text {
		font-size: 1.25rem;
		color: #838096;
	}
	> .icon {
		margin: 1rem 0;
		object-fit: contain;
	}
	> .button {
		padding: 1rem 0;
		font-size: 1.2rem;
		color: #fff;
	}
}
// 灯光组件
.light_box {
	margin-left: 1.5rem;
	background: #eceefa;
	box-shadow: 0px 4px 10px 0px rgba(104, 127, 161, 0.25);
	border-radius: 1.9rem;
	padding: 1rem 1.6rem;
	justify-content: space-between;
	> .row1 {
		justify-content: space-between;
		> .text {
			font-size: 1.2rem;
			color: #2a2930;
		}
		> .icon {
			width: 3rem;
			height: 1.5rem;
			cursor: pointer;
			position: relative;
			z-index: 10;
		}
	}
	> .icon {
		position: absolute;
		left: 14%;
		top: 0;
		width: 28%;
		height: 72%;
	}
	> .row2 {
		> .icon {
			width: 1.8rem;
			height: 1.8rem;
			object-fit: contain;
		}
		> .slider {
			margin: 0 1.5rem;
			flex-grow: 1;
		}
	}
}
// LCD
.lcd_box {
	padding: 1rem 1.6rem;
	justify-content: space-evenly;
	margin-left: 1.5rem;
	background: #eceefa;
	box-shadow: 0px 4px 10px 0px rgba(104, 127, 161, 0.25);
	border-radius: 1.9rem;
	display: flex;
	> .icon {
		width: 48%;
		height: 60%;
		object-fit: contain;
		align-self: center;
	}
	> .col_layout {
		align-items: center;
		justify-content: space-between;
		> .text {
			color: #2a2930;
			font-size: 1.25rem;
		}
		> .icon {
			width: 3rem;
			height: 1.5rem;
		}
	}
}
// 会议模式
.meeting_mode {
	background: #eceefa;
	box-shadow: 0px 2px 4px 0px rgba(30, 35, 45, 0.51);
	border-radius: 1.3rem;
	justify-content: space-evenly;
	align-items: center;
	> .icon {
		width: 28%;
		height: 33%;
		object-fit: contain;
	}
}
// 运算中心滑动条
.slider_in_out {
	padding: 4px;
	overflow-y: hidden;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(8, 1fr);
	grid-auto-columns: 100px;
	.slider {
		min-width: 100px;
		display: flex;
		flex-direction: column;
		background: linear-gradient(0deg, rgba(54, 64, 83, 0.8), rgba(35, 42, 55, 0.8));
		border: 2px solid rgba(15, 16, 20, 0.8);
		.text1 {
			height: 40px;
			color: rgba(255, 255, 255, 0.8);
		}
		.line1 {
			height: 1px;
			background: #0e1217;
		}
		.line2 {
			height: 1px;
			background: #3e435c;
		}
		.button1 {
			width: 80%;
			height: 10%;
			margin: 5px 0;
			align-self: center;
			z-index: 10;
			color: #fff;
			font-size: 12px;
		}
		.text2 {
			width: 70%;
			height: 7.5%;
			background: #131720;
			border: 1px solid #424956;
			font-size: 12px;
			color: #fff;
			margin-bottom: 10px;
			align-self: center;
		}
		.slider_box_bottom {
			flex-grow: 1;
			display: flex;
			padding: 0 10px 0 0;
			.level_box {
				width: 20px;
				z-index: 10;
				display: grid;
				grid-template-rows: 20px auto 20px;
				.text {
					font-size: 12px;
					color: #fff;
				}
				.level {
					position: relative;
					display: flex;
					justify-content: center;
					.cover {
						position: absolute;
						bottom: 4px;
						width: 10px;
						background: linear-gradient(0deg, #098b28, #a5c474);
						border-radius: 4px;
						border: 1px solid #1c2132;
					}
				}
			}
			.gain_box {
				display: grid;
				z-index: 10;
				flex-grow: 1;
				grid-template-rows: 20px auto 20px;
				.text {
					font-size: 12px;
					color: #fff;
				}
				.gain_body {
					position: relative;
					display: flex;
					justify-content: center;
					margin: 6px 0;
					.icon2 {
						position: absolute;
						z-index: 3;
						height: 100%;
					}
				}
			}
		}
	}
}
