<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="../module/element-ui.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/c/font_4540968_ygs0apge99.css">
  <link rel="stylesheet" href="../module/common_style.css">
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <div id="index" v-cloak v-loading="html.page_loading" @click="close_popup">
    <div class="panel css_img" v-show="page_id==page.id" v-for="page in component_list" :style="panel_size(page)"
      @mousemove="mouse_event" @mouseleave="mouse_leave">
      <template v-for="item,index in page.data">
        <custom-container v-if="item.type=='container'" :obj="item" :radio="page.radio"
          :token="token"></custom-container>
        <custom-text v-if="item.type=='text-block'" :obj="item" :radio="page.radio" :token="token"
          :inject_data="inject_data"></custom-text>
        <custom-switch v-if="item.type=='switch1'||item.type=='switch1V'||item.type=='switch2'" :obj="item"
          :token="token" :radio="page.radio" :inject_data="inject_data"></custom-switch>
        <custom-slider v-if="item.type=='sliderV'" :obj="item" :radio="page.radio" :token="token"
          :inject_data="inject_data"></custom-slider>
        <custom-slider2 v-if="item.type=='slider'" :obj="item" :radio="page.radio" :token="token"
          :inject_data="inject_data"></custom-slider2>
        <custom-img v-if="item.type=='image'" :obj="item" :radio="page.radio" :token="token"></custom-img>
        <custom-line v-if="item.type=='连线'" :obj="item" :radio="page.radio" :page="page" :inject_data="inject_data"
          :mouse_p="mouse_p"></custom-line>
        <custom-video v-if="item.type=='videoPlayer'" :obj="item" :radio="page.radio" :token="token"></custom-video>
        <custom-device-status v-if="item.shapeNickname=='设备节点'" :obj="item" :radio="page.radio" :page_width="page.mb.w"
          :token="token" :inject_data="inject_data"></custom-device-status>
        <custom-button v-if="item.type=='button'" :obj="item" :radio="page.radio" :token="token"></custom-button>
        <current_meeting v-if="item.type=='current_meeting'" :obj="item" :radio="page.radio" :token="token">
        </current_meeting>
        <custom-online-check v-if="item.type=='巡检按钮'" :obj="item" :radio="page.radio" :token="token"
          :is_checking="online_check.is_checking" @checking_event="checking_event" :random_num="html.random_num"
          :inject_data="inject_data"></custom-online-check>
        <custom-visual-editor1 v-if="item.type=='组件预设'" :obj="item" :radio="page.radio"
          :token="token"></custom-visual-editor1>
        <current_date v-if="item.type=='current_date'" :obj="item" :radio="page.radio" :token="token"></current_date>
        <custom-sound-matrix v-if="item.type=='audio_matrix'" :obj="item" :radio="page.radio"
          :inject_data="inject_data"></custom-sound-matrix>
        <custom-video-matrix v-if="item.type=='video_matrix'" :obj="item" :radio="page.radio"
          :inject_data="inject_data"></custom-video-matrix>
        <custom-button-switch v-if="item.type=='switchButton'" :obj="item" :radio="page.radio" :token="token"
          :inject_data="inject_data"></custom-button-switch>
        <custom-progress v-if="item.type=='progressV'" :obj="item" :radio="page.radio"
          :inject_data="inject_data"></custom-progress>
        <custom-input v-if="item.type=='input'" :obj="item" :radio="page.radio" :token="token"
          :inject_data="inject_data"></custom-input>
        <custom-iframe-component v-if="item.type=='iframe'" :obj="item" :radio="page.radio"
          :token="token"></custom-iframe-component>
      </template>
    </div>
    <!-- 设备状态栏 -->
    <div class="device_status" v-show="device_status.show" :style="device_status.style"
      @mouseenter="device_status.show=true" @mouseleave="device_status.show=false">
      <!-- 节点信息 头部 -->
      <div class="head row_layout">
        <div class="row_layout">
          <span class="title">{{device_status.name}}</span>
          <el-tag :type="device_status.is_normal?'success':'danger'" size="mini">
            {{device_status.is_normal?'在线':'异常'}}
          </el-tag>
        </div>
      </div>
      <!-- 属性列表 -->
      <div class="body">
        <div class="text_ellipsis" v-for="item in device_status.list">
          {{item.label}}：{{item.value}}
        </div>
      </div>
    </div>
    <!-- 一件巡检弹窗 -->
    <div class="popup_box" v-if="online_check.show">
      <div class="online_check">
        <div class="head row_layout">
          <div class="title">一键巡检</div>
          <el-button @click.stop="online_check.show=false" type="danger" icon="el-icon-close" circle
            size="mini"></el-button>
        </div>
        <!-- 巡检表格 -->
        <el-table :data="online_check.list" max-height="600">
          <el-table-column prop="device_id" label="设备ID"></el-table-column>
          <el-table-column prop="device_name" label="设备名称"></el-table-column>
          <el-table-column prop="service_name" label="巡检服务"></el-table-column>
          <el-table-column prop="result" label="巡检结果"></el-table-column>
        </el-table>
      </div>
    </div>
    <!-- 音视频矩阵 -->
    <div class="popup_box" v-show="matrix.show">
      <div class="matrix_box col_layout">
        <div class="head row_layout">
          <div class="title">{{matrix.title}}</div>
          <el-button @click.stop="matrix.show=false" type="danger" icon="el-icon-close" circle size="mini"></el-button>
        </div>

        <sound-matrix v-if="matrix.title==='音频矩阵'" :list="matrix.list" :device_id="matrix.device_id" :token="token">
        </sound-matrix>

        <video-matrix1 v-if="matrix.title==='视频矩阵一代'" :list="matrix.list" :device_id="matrix.device_id" :token="token">
        </video-matrix1>

        <video-matrix2 v-if="matrix.title==='视频矩阵二代'" :list="matrix.list" :device_id="matrix.device_id" :token="token">
        </video-matrix2>
      </div>
    </div>
    <!-- 下拉框 -->
    <!-- <div class="drop_down_box" v-show="drop.show" :style="{left:`${drop.style.left}px`, top:`${drop.style.top}px`}">
      <div class="item text_ellipsis" v-for="item in drop.options" :title="item.label" @click="drop_select(item)">
        {{item.label}}</div>
    </div> -->
    <!-- 随鼠标移动的线段信息弹窗 -->
    <div id="line_info" v-if="line.show" :style="line.style">
      <i class="close el-icon-error button" @click="line.show=false"></i>

      <div class="scroll">
        <div class="box" v-for="item1 in line.list">
          <div class="title">{{item1.type}}</div>

          <div class="row_layout" v-for="item2 in item1.list">
            <div class="margin nowrap">{{item2.start.name}}</div>
            <div v-show="line.isBidirect" class="margin iconfont icon-zuoyoujiantou-2"></div>
            <div v-show="!line.isBidirect" class="margin iconfont icon-jiantou_xiangyou_o"></div>
            <div class="margin nowrap">{{item2.end.name}}</div>
            <i v-show="item2.status" class="el-icon-success green margin"></i>
            <i v-show="!item2.status" class="el-icon-error red margin"></i>
            <div class="nowrap" style="padding-right: 20px;">{{item2.msg}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../../运维人员部署请修改我.js"></script>
  <script src="../../js/stomp.min.js"></script>
  <script src="../module/vue.js"></script>
  <script src="../module/element-ui.js"></script>
  <script src="../module/axios.min.js"></script>
  <script src="../module/flv.js"></script>
  <script src="../module/common_function.js"></script>
  <script src="./components.js"></script>
  <script src="./components2.js"></script>
  <script src="./index.js"></script>
</body>

</html>