<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="../module/element-ui.css">
  <link rel="stylesheet" href="../module/common_style.css">
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <div id="index" v-cloak v-loading="html.page_loading">
    <!-- 会议室卡片 -->
    <div class="place_card flex_grow">
      <div class="card button" v-for="item in place_list" @click="place_change(item.id)">
        <img src="./img/icon2.png" class="bg_img">

        <div class="row_layout">
          <div class="text_ellipsis title" :title="item.placeName">{{item.placeName}}</div>
          <div class="card_dot flex_shrink" :style="{background:item.status?'#09c369':'#ea506d'}"></div>
          <div class="flex_shrink" :style="{color:item.status?'#09c369':'#ea506d'}">
            {{item.status?'正常':'警告'}}
          </div>
        </div>

        <div class="row_layout" style="flex-wrap: wrap;">
          <el-tag v-show="item.placeTypeValue" size="mini">{{item.placeTypeValue}}</el-tag>
        </div>

        <div class="row_layout">
          <span class="text1">在线设备</span>
          <span class="text2">{{item.onlineDeviceNum||0}}</span>
          <span class="text1">离线设备</span>
          <span class="text2">{{item.offlineDeviceNum||0}}</span>
        </div>
      </div>
    </div>
    <!-- 会议室卡片点开后显示界面 -->
    <div class="detail_page" v-if="html.detail_display">
      <el-page-header @back="html.detail_display=false" content="详情页面"></el-page-header>
      <!-- 页面切换按钮 -->
      <div class="flex_shrink">
        <el-menu default-active="1" mode="horizontal" @select="page_switch">
          <el-menu-item index="1">设备管理</el-menu-item>
          <!-- <el-submenu index="2">
            <template slot="title">设备联检</template>
            <el-menu-item index="2-1">联检规则</el-menu-item>
            <el-menu-item index="2-2">联检记录</el-menu-item>
          </el-submenu>
          <el-submenu index="3">
            <template slot="title">设备巡检</template>
            <el-menu-item index="3-1">巡检计划</el-menu-item>
            <el-menu-item index="3-2">巡检规则</el-menu-item>
            <el-menu-item index="3-3">巡检记录</el-menu-item>
          </el-submenu> -->
        </el-menu>
      </div>
      <!-- 设备卡片页面 -->
      <div class="page1" v-show="html.page_select=='1'">
        <el-card class="cards" shadow="hover" v-for="item in device.list">
          <div class="box1">
            <span class="text1 text_ellipsis">{{item.deviceName}}</span>
            <div class="box2 flex_shrink">
              <div v-if="item.statusValue==0" class="icon0"></div>
              <span v-if="item.statusValue==0" class="text4">未注册</span>
              <div v-if="item.statusValue==1" class="icon1"></div>
              <span v-if="item.statusValue==1" class="text2">在线</span>
              <div v-if="item.statusValue==2" class="icon2"></div>
              <span v-if="item.statusValue==2" class="text3">离线</span>
            </div>
          </div>
          <div class="box1">
            <div class="box2">
              <!-- <i class="el-icon-edit icon3 button"></i> -->
              <span class="icon3 text_ellipsis">所属产品类型:{{item.productTypeValue}}</span>
            </div>
            <img v-show="config.control_show" @click="turn_to_device(item)" src="./img/icon1.png" class="icon4 button">
          </div>
        </el-card>
        <el-empty v-show="device.list_empty" description="会议室下无设备" style="width: 100%;height: 100%;"></el-empty>
      </div>
      <!-- 联检页面 -->
      <div class="page2 flex_grow" v-if="html.page_select=='2-1'||html.page_select=='2-2'">
        <!-- 按钮等功能 -->
        <div class="button_layout">
          <el-button class="buttons" v-show="html.page_select=='2-1'" @click="add_joint_rules" icon="el-icon-plus"
            size="small">
            添加规则
          </el-button>

          <el-input @keydown.enter.native="joint_select" style="width: 200px;" v-show="html.page_select=='2-2'"
            size="small" placeholder="搜索" v-model="joint.log_search" clearable>
          </el-input>
        </div>
        <div class="joint_table">
          <!-- 规则表格 -->
          <el-table v-show="html.page_select=='2-1'" :data="joint.rule_list" border :max-height="joint.table_height">
            <el-table-column prop="onlineCheckName" label="名称" width="200"></el-table-column>
            <el-table-column prop="createUserName" label="创建人" width="100"></el-table-column>
            <el-table-column prop="placeName" label="会议室"></el-table-column>
            <el-table-column prop="executeTime" label="执行时间" width="100"></el-table-column>
            <el-table-column prop="planDatetimeStart" label="开始时间" width="200"></el-table-column>
            <el-table-column prop="planDatetimeEnd" label="结束时间" width="200"></el-table-column>
            <el-table-column label="操作" width="220">
              <template slot-scope="scope">
                <el-button type="text" size="small" @click="edit_joint_rule(scope.row)">编辑</el-button>
                <el-button type="text" size="small" @click="del_joint_rule(scope.row)">删除
                </el-button>
                <el-button type="text" size="small" @click="ex_joint_rule(scope.row)" style="margin-right: 10px;">执行联检
                </el-button>
                <el-switch v-model="scope.row.status" @change="switch_joint_rule_status(scope.row)" :active-value="1"
                  :inactive-value="0"></el-switch>
              </template>
            </el-table-column>
          </el-table>
          <!-- 记录表格 -->
          <el-table v-show="html.page_select=='2-2'" :data="joint.record_list" border :max-height="joint.table_height"
            :default-sort="{prop:'created',order: 'descending'}">
            <el-table-column prop="onlineCheckName" label="名称" width="200"></el-table-column>
            <el-table-column prop="placeName" label="会议室" width="200"></el-table-column>
            <el-table-column prop="resultRemark" label="联检结果"></el-table-column>
            <el-table-column prop="statusDesc" label="检测状态" width="150"></el-table-column>
            <el-table-column prop="created" label="联检时间" sortable width="200"></el-table-column>
            <el-table-column label="操作" width="100">
              <template slot-scope="scope">
                <el-button @click="check_record(scope.row)" type="text" size="small">查看</el-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <el-pagination class="footer" @current-change="joint_select" :current-page="current_page" :page-size="html.size"
          background layout="total,prev,pager,next" :total="total_size"></el-pagination>
      </div>
      <!-- 巡检页面 -->
      <div class="page3 flex_grow" v-if="html.page_select=='3-1'||html.page_select=='3-2'||html.page_select=='3-3'">
        <div class="button_layout">
          <el-button class="buttons" v-show="html.page_select=='3-1'" icon="el-icon-plus" size="small">新增巡检计划
          </el-button>

          <span class="buttons" v-show="html.page_select=='3-2'">应用会议室</span>
          <el-select class="buttons" v-model="polling.apply_place" v-show="html.page_select=='3-2'" size="small">
            <el-option v-for="item in option1" :value="item"></el-option>
          </el-select>
          <el-button class="buttons" v-show="html.page_select=='3-2'" icon="el-icon-plus" size="small">新增检查项
          </el-button>

          <el-radio-group v-show="html.page_select=='3-3'" v-model="polling.log_select" size="small">
            <el-radio :label="0">全部</el-radio>
            <el-radio :label="1">待巡检</el-radio>
            <el-radio :label="2">正常完成</el-radio>
          </el-radio-group>
        </div>
        <div class="polling_table">
          <!-- 计划表格 -->
          <el-table v-show="html.page_select=='3-1'" :data="tableData" border :max-height="polling.table_height">
            <el-table-column prop="a" label="序号"></el-table-column>
            <el-table-column prop="b" label="计划名称"></el-table-column>
            <el-table-column prop="c" label="启用状态"></el-table-column>
            <el-table-column prop="d" label="执行周期"></el-table-column>
            <el-table-column label="操作" width="150">
              <template slot-scope="scope">
                <el-button type="text" size="small">编辑</el-button>
                <el-button type="text" size="small">禁用</el-button>
                <el-button type="text" size="small">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
          <!-- 规则表格 -->
          <el-table v-show="html.page_select=='3-2'" :data="tableData" border :max-height="polling.table_height"
            style="width: 100%">
            <el-table-column prop="a" label="序号"></el-table-column>
            <el-table-column prop="b" label="规则名称"></el-table-column>
            <el-table-column prop="c" label="应用会议室"></el-table-column>
            <el-table-column prop="d" label="应用会议室"></el-table-column>
            <el-table-column label="操作" width="150">
              <template slot-scope="scope">
                <el-button type="text" size="small">编辑</el-button>
                <el-button type="text" size="small">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
          <!-- 记录表格 -->
          <el-table v-show="html.page_select=='3-3'" :data="tableData" border :max-height="polling.table_height"
            style="width: 100%">
            <el-table-column prop="a" label="序号"></el-table-column>
            <el-table-column prop="b" label="计划名称"></el-table-column>
            <el-table-column prop="c" label="结果"></el-table-column>
            <el-table-column prop="d" label="巡检时间"></el-table-column>
            <el-table-column prop="e" label="巡检人员"></el-table-column>
            <el-table-column label="操作" width="120">
              <template slot-scope="scope">
                <el-button type="text" size="small">详情</el-button>
                <el-button type="text" size="small">执行巡检</el-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </div>

    <!-- 添加/编辑规则弹窗 -->
    <div class="popup" v-if="joint.add_rule_display">
      <el-card class="add_rule_form">
        <div class="form_head">
          <span class="text">{{joint.rule_id?'编辑':'添加'}}规则</span>
          <div class="icon center button" @click="joint.add_rule_display=false">
            <i class="el-icon-close icon2"></i>
          </div>
        </div>
        <el-form :model="joint.form" :rules="joint_rules" ref="joint_form" label-width="auto"
          v-loading="html.popup_loading">
          <el-form-item label="规则名称" prop="name">
            <el-input v-model="joint.form.name" style="width: 250px;"></el-input>
          </el-form-item>

          <el-form-item label="有效期" prop="date">
            <el-date-picker v-model="joint.form.date" :picker-options="joint_date_options()" type="daterange"
              range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期"></el-date-picker>
          </el-form-item>

          <el-form-item label="周期" prop="cycle_week">
            <el-checkbox-group v-model="joint.form.cycle_week">
              <el-checkbox :label="2">周一</el-checkbox>
              <el-checkbox :label="3">周二</el-checkbox>
              <el-checkbox :label="4">周三</el-checkbox>
              <el-checkbox :label="5">周四</el-checkbox>
              <el-checkbox :label="6">周五</el-checkbox>
              <el-checkbox :label="7">周六</el-checkbox>
              <el-checkbox :label="1">周日</el-checkbox>
            </el-checkbox-group>
          </el-form-item>

          <el-form-item label="时间" prop="select_time">
            <el-time-picker v-model="joint.form.select_time" style="width: 150px;"></el-time-picker>
          </el-form-item>

          <el-form-item label="联检设备">
            <div class="box1" v-if="joint.device_list.length>0">
              <div class="box1_head">
                <el-checkbox class="flex_shrink" :indeterminate="joint.form.isIndeterminate"
                  v-model="joint.form.checkAll" @change="check_all">全选
                </el-checkbox>
                <el-input class="search" placeholder="模糊搜索" v-model="joint.form.search" size="mini"
                  @keydown.enter.native="get_user_all_device" @change="get_user_all_device" clearable>
                  <i slot="suffix" class="el-input__icon el-icon-search button" @click="get_user_all_device"></i>
                </el-input>
              </div>
              <div class="overflow">
                <div class="device_box" v-for="item in joint.device_list">
                  <div class="icon" @click="check_change(item)">
                    <i class="el-icon-check icon2" v-show="item.selected"></i>
                  </div>
                  <span class="text text_ellipsis" @click="check_change(item)"
                    :title="item.deviceName">{{item.deviceName}}</span>
                  <el-button type="text" @click="get_device_server(item)">配置</el-button>
                </div>
              </div>
              <span class="verify_text"
                v-show="joint_rules.device_selected.show">{{joint_rules.device_selected.message}}</span>
              <el-pagination class="footer" @current-change="get_user_all_device" :current-page="current_page2"
                :total="total_size2" layout="prev,pager,next"></el-pagination>
            </div>
            <el-empty v-show="joint.device_list.length==0" description="空" style="width: 100%;">
            </el-empty>
          </el-form-item>

          <el-form-item class="buttons">
            <el-button style="margin-right: 20px;" @click="joint_rule_submit(joint.form,0)">保存</el-button>
            <el-button type="primary" @click="joint_rule_submit(joint.form,1)">保存并启用</el-button>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
    <!-- 设备服务列表二级弹窗 -->
    <div class="popup" v-if="joint.device_setting_display">
      <el-card class="device_setting">
        <el-form :model="joint.form2" :rules="joint_rules" ref="joint_form2" label-width="auto">
          <el-form-item label="物模型服务" prop="serviceIdentifier">
            <el-select v-model="joint.form2.serviceIdentifier" placeholder="选择物模型服务" size="mini" style="width: 150px;">
              <el-option v-for="item in joint.form2.server_list" :key="item.serviceId" :value="item.identifier"
                :label="item.name">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item class="buttons">
            <el-button type="primary" @click="save_device_set">保存</el-button>
            <el-button style="margin-left:20px;" @click="joint.device_setting_display=false">取消</el-button>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
    <!-- 联检记录详情 -->
    <div class="popup" v-if="joint.record_detail_display">
      <el-card class="record">
        <div class="form_head">
          <span class="text">设备检测结果</span>
          <div class="icon center button" @click="joint.record_detail_display=false">
            <i class="el-icon-close icon2"></i>
          </div>
        </div>
        <el-descriptions v-for="item in joint.record_devices" :title="item.name" direction="vertical" :column="1"
          border>
          <el-descriptions-item label="项目检测状态">{{item.status}}</el-descriptions-item>
          <el-descriptions-item label="检测项目" v-if="item.items.length>0">
            <el-descriptions v-for="item2 in item.items" direction="vertical" :column="2">
              <el-descriptions-item label="物模型属性">{{item2.property}}</el-descriptions-item>
              <el-descriptions-item label="是否合格">{{item2.status}}</el-descriptions-item>
            </el-descriptions>
          </el-descriptions-item>
        </el-descriptions>
        <el-empty v-show="joint.record_empty" description="未上线">
        </el-empty>
      </el-card>
    </div>
    <!-- 设备跳转弹窗 -->
    <div class="popup" v-show="html.turn_to_device">
      <div class="device_window">
        <div class="head">
          <h2 class="title">{{html.device_name}}</h2>
          <div class="box1">
            <el-button @click="iconize_device_window" type="warning" icon="el-icon-minus" circle
              size="mini"></el-button>
            <el-button @click="close_device_window" style="margin-left: 10px;" type="danger" icon="el-icon-close" circle
              size="mini"></el-button>
          </div>
        </div>
        <iframe class="body" :src="html.device_url" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
    <!-- 最小化窗口 -->
    <el-button v-if="html.iconize_device" @click="full_size" class="iconize_device_window" type="warning"
      size="mini">{{html.device_name}} 弹出窗</el-button>
  </div>

  <script src="../../运维人员部署请修改我.js"></script>
  <script src="../module/vue.js"></script>
  <script src="../module/element-ui.js"></script>
  <script src="../module/axios.min.js"></script>
  <script src="../module/common_function.js"></script>
  <script src="./index.js"></script>
</body>

</html>