* {
	user-select: none;
}
.row_layout {
	display: flex;
	align-items: center;
}
.col_layout {
	display: flex;
	flex-direction: column;
}
#index {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	background: #fff;
	padding: 12px;
	border-radius: 8px;
	overflow: hidden;
}
.place_card {
	z-index: 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	grid-template-rows: repeat(auto-fill, 200px);
	grid-auto-rows: 200px;
	overflow: auto;
	> .card {
		margin: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		overflow: hidden;
		padding: 0 20px;
		.title {
			font-weight: bold;
			margin-right: auto;
		}
		.card_dot {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			margin-right: 16px;
			margin-left: 10px;
		}
		.text1 {
			font-family: Microsoft YaHei;
			color: #959ea7;
		}
		.text2 {
			font-family: Microsoft YaHei;
			color: #31313d;
			margin-left: 6px;
			margin-right: 20px;
		}
	}
}
.footer {
	padding: 20px 0;
	align-self: center;
}
.detail_page {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	z-index: 10;
	background: #fff;
	padding: 12px;
	border-radius: 8px;
	padding-left: 20px;
	.page1 {
		display: flex;
		flex-wrap: wrap;
		overflow: auto;
		align-content: start;
		flex-grow: 1;
		.cards {
			width: 340px;
			height: 120px;
			display: grid;
			margin: 10px;
			.el-card__body {
				padding: 10px 20px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				overflow: hidden;
			}
			.box1 {
				display: flex;
				justify-content: space-between;
				.box2 {
					display: flex;
					align-items: center;
					overflow: hidden;
				}
			}
			.text1 {
				font-size: 20px;
			}
			.icon0 {
				width: 8px;
				height: 8px;
				background: #328ffe;
				border-radius: 50%;
			}
			.icon1 {
				width: 8px;
				height: 8px;
				background: #09c369;
				border-radius: 50%;
			}
			.icon2 {
				width: 8px;
				height: 8px;
				background: #ea506d;
				border-radius: 50%;
			}
			.text2 {
				margin-left: 10px;
				font-size: 16px;
				color: #09c369;
			}
			.text3 {
				margin-left: 10px;
				font-size: 16px;
				color: #ea506d;
			}
			.text4 {
				margin-left: 10px;
				font-size: 16px;
				color: #328ffe;
			}
			.icon3 {
				font-size: 16px;
				color: #acb9c2;
				margin-right: 10px;
			}
			.icon4 {
				width: 36px;
				height: 36px;
				object-fit: contain;
			}
		}
	}
	.page2 {
		display: flex;
		flex-direction: column;
		padding: 0 20px;
		.joint_table {
			flex-grow: 1;
		}
	}
	.page3 {
		display: grid;
		grid-template-rows: 60px auto;
		padding: 0 20px;
	}
	.button_layout {
		display: flex;
		align-items: center;
		padding: 20px 0;
		.buttons {
			margin-right: 20px;
		}
	}
}
.flex_grow {
	flex-grow: 1;
}
.popup {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.2);
	display: grid;
	justify-items: center;
	align-items: center;
	z-index: 990;
	left: 0;
	top: 0;
	.add_rule_form {
		width: 31.25%;
		min-width: 600px;
		max-height: 90%;
		overflow: auto;
		margin-top: 40px;
		.form_head {
			display: flex;
			align-items: center;
			height: 40px;
			.text {
				font-weight: bold;
				font-size: 18px;
			}
			.icon {
				width: 26px;
				height: 26px;
				background-color: #fdeaea;
				border-radius: 50%;
				margin-left: auto;
				.icon2 {
					font-size: 16px;
					color: #f02424;
				}
			}
		}
		.buttons {
			display: flex;
			justify-content: end;
		}
		.box1 {
			width: 100%;
			display: flex;
			flex-direction: column;
			.box1_head {
				align-self: start;
				display: flex;
				align-items: center;
				.search {
					width: 150px;
					margin-left: 20px;
				}
			}
			.overflow {
				max-height: 200px;
				overflow-x: hidden;
				padding-right: 10px;
				.device_box {
					display: flex;
					align-items: center;
					.icon {
						width: 16px;
						height: 16px;
						border: 1px solid;
						position: relative;
						margin-right: 20px;
						.icon2 {
							position: absolute;
							bottom: -2px;
							right: -8px;
							font-size: 24px;
						}
					}
					.text {
						font-size: 14px;
						max-width: 200px;
						margin-right: auto;
						cursor: pointer;
					}
				}
			}
			.footer {
				padding: 0;
			}
			.box2 {
				display: flex;
				align-items: center;
				width: 100%;
				.box3 {
					justify-content: space-between;
					.text1 {
						font-size: 16px;
						padding: 5px 10px;
						max-width: 60%;
					}
				}
				.el-checkbox__label {
					width: 90%;
				}
			}
		}
	}
	.device_setting {
		width: 400px;
		align-self: center;
		.buttons {
			display: flex;
			justify-content: center;
		}
	}
	.record {
		width: 40%;
		min-width: 700px;
		max-height: 90%;
		overflow: auto;
		margin-top: 40px;
		.form_head {
			display: flex;
			align-items: center;
			height: 40px;
			margin-bottom: 10px;
			.text {
				font-weight: bold;
				font-size: 18px;
			}
			.icon {
				width: 26px;
				height: 26px;
				background-color: #fdeaea;
				border-radius: 50%;
				margin-left: auto;
				.icon2 {
					font-size: 16px;
					color: #f02424;
				}
			}
		}
	}
	> .pop_box {
		border-radius: 10px;
		background: #fff;
		padding: 16px;
		max-height: 96%;
		overflow-x: hidden;
		> .head {
			justify-content: space-between;
			margin-bottom: 20px;
			> .title {
				font-weight: bold;
			}
		}
		> .foot {
			align-self: center;
			margin-top: 20px;
			> .button + .button {
				margin-left: 20px;
			}
		}
	}
}
.verify_text {
	color: red;
	font-size: 12px;
	position: relative;
	height: 12px;
	top: -10px;
}
.device_window {
	width: calc(100% - 24px);
	height: calc(100% - 24px);
	background: rgb(36, 38, 50);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	> .head {
		padding: 10px 0;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		.title {
			color: #fff;
			margin: 0;
		}
		.box1 {
			position: absolute;
			right: 10px;
		}
	}
	> .body {
		margin: 20px;
		flex-grow: 1;
	}
}
.iconize_device_window {
	z-index: 990;
	position: fixed;
	right: 9px;
	bottom: 9px;
}
// 延迟时间时间
.delay_time {
	margin: 20px;
	font-weight: bold;
	align-self: center;
}
// 绑定设备文字
.bind_title {
	margin-right: 20px;
}

.el-checkbox {
	margin-right: 10px;
}

::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 5px; /*高宽分别对应横竖滚动条的尺寸*/
	height: 5px;
}
::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	border-radius: 5px;
	background: #82a3f7;
}
::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	border-radius: 5px;
	background: #404755;
}
// 集中控制
#control_page {
	overflow-x: hidden;
	background: #eef2fe;
	min-width: 1300px;
	> .head {
		padding: 10px 0;
		background: #fff;
		display: grid;
		grid-template-columns: 70% auto;
		overflow: hidden;
		z-index: 10;
		margin-bottom: 16px;
		> .box1 {
			position: relative;
			padding: 20px 30px;
			justify-content: space-around;
			.icon1 {
				width: 16px;
				height: 20px;
				margin-right: 14px;
			}
			.text1 {
				color: #3675ff;
			}
			.text2 {
				font-size: 30px;
				color: #31313d;
				margin: 16px 0;
			}
			> .box {
				position: relative;
				padding: 10px 20px;
				width: 50%;
				overflow: hidden;
				color: #fff;
			}
		}
		> .box2 {
			margin: 0 30px;
			> .head {
				padding: 10px 0;
				background: linear-gradient(65deg, #c8ddfb 0%, #e4f1ff 100%);
				border-radius: 10px;
				color: #31313d;
				justify-content: center;
				> .icon {
					width: 20px;
					height: 20px;
				}
			}
			> .body {
				margin-top: 10px;
				position: relative;
				align-items: center;
				padding: 10px 0;
				> .text1 {
					font-size: 14px;
					color: #ffffff;
				}
				> .box1 {
					font-size: 24px;
					color: #31313d;
					margin: 10px 0;
					> .time {
						position: relative;
						padding: 5px;
						& + .time {
							margin-left: 10px;
						}
						> .icon {
							position: relative;
							padding: 5px;
							& + .icon {
								margin-left: 5px;
							}
						}
					}
				}
				> .box2 {
					> .button {
						font-size: 18px;
						color: #31313d;
						padding: 10px 20px;
						& + .button {
							margin-left: 20px;
						}
					}
				}
			}
		}
	}
	> .body {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		.box {
			background: #ffffff;
			border-radius: 16px;
			padding: 14px 20px;
			z-index: 10;
			> .title {
				font-size: 16px;
				color: #31313d;
				margin-bottom: 16px;
			}
		}
		> .left {
			border-top-left-radius: unset;
			border-bottom-left-radius: unset;
			> .box1 {
				position: relative;
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: 1fr 1fr;
				align-items: center;
				justify-items: center;
				padding: 10px 16px;
				margin-bottom: 16px;
				> .col_layout {
					align-items: center;
					position: relative;
					padding: 10px 0;
					> .icon {
						width: 50px;
						height: 50px;
						margin-bottom: 10px;
					}
					.title {
						font-size: 16px;
						color: #556996;
						margin-right: 10px;
					}
					.value {
						font-size: 16px;
						color: #31313d;
					}
				}
			}
			> .box2 {
				padding: 14px;
				position: relative;
				margin-bottom: 16px;
				> .title {
					color: #31313d;
					white-space: nowrap;
				}
				> .icon {
					width: 60px;
					height: 30px;
					cursor: pointer;
				}
				.button {
					width: 80px;
					height: 36px;
					color: #31313d;
					padding-bottom: 4px;
					& + .button {
						margin-left: 10px;
					}
					> .white {
						color: #fff;
					}
				}
				> .gap {
					margin-right: 20px;
				}
			}
			> .box3 {
				align-self: center;
				> .button {
					width: 100px;
					height: 40px;
					background: #f4f6fa;
					border: 1px solid #c9d9ef;
					border-radius: 8px;
					& + .button {
						margin-left: 30px;
					}
				}
			}
		}
		> .mid {
			margin-left: 20px;
			justify-content: space-between;
			> .box {
				> .box1 {
					width: 96%;
					position: relative;
					padding: 30px 0 20px 0;
					display: flex;
					justify-content: space-evenly;
					align-self: center;
					margin-bottom: 16px;
					> .col_layout {
						align-items: center;
						> .value {
							margin: 20px 0;
							font-size: 26px;
							color: #31313d;
						}
						.button {
							width: 30px;
							height: 30px;
						}
						.icon {
							width: 60px;
							height: 30px;
							margin: 0 10px;
							cursor: pointer;
						}
					}
				}
				> .box3 {
					align-self: center;
					> .button {
						width: 100px;
						height: 40px;
						& + .button {
							margin-left: 20px;
						}
					}
					> .col_layout + .col_layout {
						margin-left: 30px;
					}
				}
				> .box2 {
					justify-content: space-evenly;
					> .col_layout {
						align-items: center;
						font-size: 16px;
						color: #31313d;
						> .icon {
							width: 80px;
							height: 80px;
						}
					}
				}
			}
		}
		> .right {
			margin-left: 20px;
			border-top-right-radius: unset;
			border-bottom-right-radius: unset;
			> .box1 {
				position: relative;
				padding: 20px;
				margin-bottom: 16px;
				> .row_layout {
					justify-content: space-between;
					&:not(:last-child) {
						margin-bottom: 16px;
					}
					> .title {
						color: #31313d;
					}
					> .row_layout {
						> .button {
							width: 34px;
							height: 34px;
						}
						> .center {
							margin: 0 10px;
							width: 110px;
							padding: 10px;
							position: relative;
						}
					}
				}
			}
			> .box2 {
				position: relative;
				justify-content: space-around;
				margin-bottom: 16px;
				> .title {
					font-size: 16px;
					color: #31313d;
				}
				> .box1 {
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-template-rows: 1fr 1fr;
					align-items: start;
					padding: 10px 0;
					> .button {
						padding: 6px 10px;
						margin: 0 10px;
						font-size: 14px;
						&:nth-child(3),
						&:nth-child(4) {
							margin-top: 5px;
						}
					}
					> .white {
						color: #fff;
						background: linear-gradient(90deg, #618eff, #115efb);
						box-shadow: 0px 1px 3px 0px rgba(41, 84, 191, 0.47);
						border-radius: 8px;
					}
					> .black {
						color: #31313d;
						background: #ffffff;
						box-shadow: 0px 1px 3px 0px rgba(41, 84, 191, 0.47);
						border-radius: 8px;
					}
				}
			}
			> .box3 {
				align-self: center;
				> .button {
					width: 100px;
					height: 40px;
					background: #f4f6fa;
					border: 1px solid #c9d9ef;
					border-radius: 8px;
					& + .button {
						margin-left: 30px;
					}
				}
			}
		}
	}
	> .foot {
		color: #ffffff;
		align-self: center;
		margin: 20px 0;
		> .button {
			padding: 16px 20px;
			min-width: 140px;
			& + .button {
				margin-left: 20px;
			}
		}
	}
}
// 音频矩阵
#sound_matrix {
	display: grid;
	grid-template-rows: 30px auto;
	> .head {
		display: grid;
		grid-template-columns: repeat(13, 1fr);
		align-items: center;
		justify-items: center;
	}
	> .body {
		display: grid;
		grid-template-columns: 1fr 12fr;
		> .col {
			display: grid;
			grid-template-rows: repeat(9, 1fr);
			align-items: center;
			justify-items: center;
		}
		> .body {
			display: grid;
			grid-template-rows: repeat(9, 1fr);
			> .row {
				display: grid;
				grid-template-columns: repeat(12, 1fr);
				> .button {
					min-height: 30px;
				}
			}
		}
	}
	.title {
		color: rgba(0, 0, 0, 0.8);
	}
}
// 视频矩阵
#video_matrix {
	align-self: center;
	display: grid;
	grid-template-rows: repeat(4, 70px);
	grid-template-columns: repeat(4, 140px);
	> .button {
		margin: 10px;
		color: #fff;
		font-weight: bold;
		font-size: 14px;
	}
}
.linshi {
	font-size: 26px;
	align-self: center;
	& + .linshi {
		margin-top: 20px;
	}
}
