<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="../module/element-ui.css">
  <link rel="stylesheet" href="../module/common_style.css">
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <div id="index" v-cloak v-loading="html.page_loading">
    <!-- 会议室卡片 -->
    <div class="place_card flex_grow">
      <div class="card button" v-for="item in place_list" @click="place_change(item.id)">
        <img src="./img/icon2.png" class="bg_img">

        <div class="row_layout">
          <div class="text_ellipsis title" :title="item.placeName">{{item.placeName}}</div>
          <div class="card_dot flex_shrink" :style="{background:item.status?'#09c369':'#ea506d'}"></div>
          <div class="flex_shrink" :style="{color:item.status?'#09c369':'#ea506d'}">
            {{item.status?'正常':'警告'}}
          </div>
        </div>

        <div class="row_layout" style="flex-wrap: wrap;">
          <el-tag v-show="item.placeTypeValue" size="mini">{{item.placeTypeValue}}</el-tag>
        </div>

        <div class="row_layout">
          <span class="text1">在线设备</span>
          <span class="text2">{{item.onlineDeviceNum||0}}</span>
          <span class="text1">离线设备</span>
          <span class="text2">{{item.offlineDeviceNum||0}}</span>
        </div>
      </div>
    </div>
    <!-- 会议室卡片点开后显示界面 -->
    <div class="detail_page" v-if="html.detail_display">
      <el-page-header @back="html.detail_display=false" content="详情页面"></el-page-header>
      <!-- 页面切换按钮 -->
      <div class="flex_shrink">
        <el-menu :default-active="config.default_menu" mode="horizontal" @select="page_switch">
          <el-menu-item v-for="menu in config.menus" v-show="menu.show"
            :index="menu.value">{{menu.label}}</el-menu-item>
        </el-menu>
      </div>
      <!-- 集中控制 -->
      <div class="flex_grow" v-show="html.page_select=='1'" style="overflow: auto;">
        <div id="control_page" class="col_layout">
          <!-- <div class="head flex_shrink">
            <div class="box1 col_layout">
              <img src="./img/icon3.png" class="bg_img">

              <div class="row_layout">
                <img src="./img/icon4.png" class="icon1">

                <span class="text1">{{control.place_name}}</span>
              </div>

              <span class="text2">{{control.theme}}</span>

              <div class="box row_layout">
                <img src="./img/icon5.png" class="bg_img">

                <span class="text_ellipsis">下场会议：{{control.next_meeting}}</span>
              </div>
            </div>

            <div class="box2 col_layout">
              <div class="head row_layout">
                <img src="./img/icon6.png" class="icon">

                <span style="margin: 0 20px;">2024年01月08日</span>

                <span>星期二</span>
              </div>

              <div class="body flex_grow col_layout">
                <img src="./img/icon7.png" class="bg_img">

                <span class="text1">本场会议结束时间</span>

                <div class="box1 row_layout">
                  <div class="time row_layout" v-for="item in control.times">
                    <img src="./img/icon37.png" class="bg_img">

                    <div class="icon" v-for="num in item">
                      <img src="./img/icon38.png" class="bg_img">

                      <span>{{num}}</span>
                    </div>
                  </div>
                </div>

                <div class="box2 row_layout">
                  <div class="button center" v-show="control.delay_show" @click="control.delay_pop_show = true">
                    <img src="./img/icon8.png" class="bg_img">
                    <span>延迟会议</span>
                  </div>

                  <div class="button center" v-show="control.end_show" @click="end_meeting">
                    <img src="./img/icon8.png" class="bg_img">
                    <span>结束会议</span>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <component_header :place-id="place_id" @delay-meeting="delay_event" @end-meeting="end_meeting">
          </component_header>

          <div class="body flex_grow">
            <div class="left box col_layout">
              <span class="title">环境系统</span>

              <div class="box1">
                <img src="./img/icon13.png" class="bg_img">

                <div class="col_layout" v-for="item in control.env_icon">
                  <img :src="item.img" class="icon">

                  <div class="row_laout">
                    <span class="title">{{item.title}}</span>

                    <span class="value">{{item.value}}{{item.unit}}</span>
                  </div>
                </div>
              </div>

              <div class="box2 row_layout">
                <img src="./img/icon24.png" class="bg_img">

                <span class="title gap">灯光模式</span>
                <img @click="send_order('light_switch')"
                  :src="control.light_switch?'./img/icon21.png':'./img/icon20.png'" class="icon gap">
                <div class="row_layout">
                  <div class="button center" v-for="item in control.lights"
                    @click="send_order('light_mode',item.value)">
                    <img :src="control.light_mode===item.value?'./img/icon22.png':'./img/icon23.png'" class="bg_img">
                    <span :class="[control.light_mode===item.value?'white':'']">{{item.title}}</span>
                  </div>
                </div>
              </div>

              <div class="box2 row_layout">
                <img src="./img/icon25.png" class="bg_img">

                <span class="title gap">窗帘控制</span>
                <div class="row_layout">
                  <div class="button center" v-for="item in control.curtains"
                    @click="send_order('curtain_mode',item.value)">
                    <img :src="control.curtain_mode===item.value?'./img/icon22.png':'./img/icon23.png'" class="bg_img">
                    <span :class="[control.curtain_mode===item.value?'white':'']">{{item.title}}</span>
                  </div>
                </div>
              </div>

              <div class="box3 row_layout">
                <div class="button center" @click="send_order('env_open')">一键开启</div>
                <div class="button center" @click="send_order('env_close')">一键关闭</div>
              </div>
            </div>

            <div class="mid col_layout">
              <div class="box col_layout">
                <div class="title row_layout" style="justify-content: space-between;">
                  <span>扩声系统</span>
                  <i class="el-icon-setting" @click="control.bind_device_show=true"></i>
                </div>

                <div class="box1">
                  <img src="./img/icon26.png" class="bg_img">

                  <div class="col_layout" v-for="item in control.sounds">
                    <span>{{item.title}}</span>
                    <span class="value">{{item.value}}</span>
                    <div class="row_layout">
                      <img @click="send_order(item.tag1)" src="./img/icon27.png" class="button">
                      <img @click="send_order(item.tag3)" :src="item.switch?'./img/icon21.png':'./img/icon28.png'"
                        class="icon">
                      <img @click="send_order(item.tag2)" src="./img/icon29.png" class="button">
                    </div>
                  </div>
                </div>

                <div class="box3 row_layout">
                  <div class="button center" @click="send_order('sound_mute')">
                    <!-- 取第一个元素判断 -->
                    <img v-show="!control.sound_button_mute[0]" src="./img/icon30.png" class="bg_img">
                    <img v-show="control.sound_button_mute[0]" src="./img/icon39.png" class="bg_img">
                    <span>一键静音</span>
                  </div>

                  <div class="button center" v-for="item in control.sound_buttons" @click="send_order(item.tag)">
                    <img src="./img/icon30.png" class="bg_img">

                    <span>{{item.title}}</span>
                  </div>
                </div>
              </div>

              <div class="box col_layout">
                <span class="title">场景系统</span>

                <div class="box2 row_layout">
                  <div class="button col_layout" v-for="item in control.scenes" @click="control_window(item.tag)">
                    <img :src="item.img" class="icon">
                    <span>{{item.title}}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="right box col_layout">
              <span class="title">麦克风系统</span>

              <div class="box1 col_layout">
                <img src="./img/icon34.png" class="bg_img">

                <div class="row_layout" v-for="item in control.microphones">
                  <span class="title">{{item.title}}</span>

                  <el-select class="select_box" v-if="item.tag==='voice_person'" v-model="item.value"
                    @change="send_order(item.tag)">
                    <el-option v-for="op in control.mp_p_options" :key="op" :label="op=='ff'?'不限':op" :value="op">
                    </el-option>
                  </el-select>

                  <div class="row_layout" v-if="item.tag!=='voice_person'">
                    <img src="./img/icon27.png" class="button" @click="send_order(item.tag,'de')">
                    <div class="center">
                      <img src="./img/icon35.png" class="bg_img">
                      <span>{{item.value}}dB</span>
                    </div>
                    <img src="./img/icon29.png" class="button" @click="send_order(item.tag,'add')">
                  </div>
                </div>
              </div>

              <div class="box2 row_layout">
                <img src="./img/icon36.png" class="bg_img">

                <span class="title">会议模式</span>

                <div class="box1">
                  <div :class="['button',control.microphone_mode===item.value?'white':'black']"
                    v-for="item in control.mp_meetings" @click="send_order('会议模式',item.value)">
                    {{item.title}}
                  </div>
                </div>
              </div>

              <div class="box3 row_layout">
                <div class="button  center" @click="send_order('麦克风一键静音')">
                  <!-- <img v-show="control.microphone_mute" src="./img/icon39.png" class="bg_img"> -->
                  <span>一键静音</span>
                </div>

                <div class="button center" @click="send_order('麦克风一键开')">一键开启</div>
                <div class="button center" @click="send_order('麦克风一键关')">一键关闭</div>
              </div>
            </div>
          </div>

          <div class="foot row_layout">
            <div class="button center" @click="send_order('一键静音')">
              <img src="./img/icon10.png" class="bg_img">
              <span>{{control.sound_button_mute[0]?'取消静音':'一键静音'}}</span>
            </div>

            <div class="button center" v-for="item in control.buttons" @click="send_order(item.title)">
              <img :src="item.img" class="bg_img">
              <span>{{item.title}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 系统拓扑图 -->
      <iframe v-if="html.page_select=='2'" :src="html.gplot_url" frameborder="0" scrolling="no"
        style="flex-grow:1;"></iframe>
      <!-- 设备卡片页面 -->
      <div class="page1" v-show="html.page_select=='3'">
        <el-card class="cards" shadow="hover" v-for="item in device.list">
          <div class="box1">
            <span class="text1 text_ellipsis">{{item.deviceName}}</span>
            <div class="box2 flex_shrink">
              <div v-if="item.statusValue==0" class="icon0"></div>
              <span v-if="item.statusValue==0" class="text4">未注册</span>
              <div v-if="item.statusValue==1" class="icon1"></div>
              <span v-if="item.statusValue==1" class="text2">在线</span>
              <div v-if="item.statusValue==2" class="icon2"></div>
              <span v-if="item.statusValue==2" class="text3">离线</span>
            </div>
          </div>
          <div class="box1">
            <div class="box2">
              <!-- <i class="el-icon-edit icon3 button"></i> -->
              <span class="icon3 text_ellipsis">所属产品类型:{{item.productTypeValue}}</span>
            </div>
            <img v-show="config.control_show" @click="turn_to_device(item)" src="./img/icon1.png" class="icon4 button">
          </div>
        </el-card>
        <el-empty v-show="device.list_empty" description="会议室下无设备" style="width: 100%;height: 100%;"></el-empty>
      </div>
    </div>

    <!-- 设备跳转弹窗 -->
    <div class="popup" v-show="html.turn_to_device">
      <div class="device_window">
        <div class="head">
          <h2 class="title">{{html.device_name}}</h2>
          <div class="box1">
            <el-button @click="iconize_device_window" type="warning" icon="el-icon-minus" circle
              size="mini"></el-button>
            <el-button @click="close_device_window" style="margin-left: 10px;" type="danger" icon="el-icon-close" circle
              size="mini"></el-button>
          </div>
        </div>
        <iframe class="body" :src="html.device_url" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
    <!-- 延迟会议窗 -->
    <div class="popup" v-show="control.delay_pop_show">
      <div class="pop_box col_layout" style="width: 50%;">
        <div class="head row_layout">
          <div class="title">延后会议</div>
          <el-button @click="control.delay_pop_show=false" type="danger" icon="el-icon-close" circle
            size="small"></el-button>
        </div>

        <el-slider v-model="control.delay" :step="15" :max="120" show-stops style="margin: 0 20px;"></el-slider>

        <div class="delay_time">{{control.delay}}分钟</div>

        <div class="foot row_layout">
          <el-button @click="control.delay_pop_show=false" size="small">取消</el-button>
          <el-button @click="delay_meeting" size="small" type="primary">确认</el-button>
        </div>
      </div>
    </div>
    <!-- 绑定设备 -->
    <div class="popup" v-show="control.bind_device_show">
      <div class="pop_box col_layout" style="width: 30%;">
        <div class="head row_layout">
          <div class="title">绑定设备</div>
          <el-button @click="control.bind_device_show=false" type="danger" icon="el-icon-close" circle
            size="small"></el-button>
        </div>

        <div class="row_layout" style="margin-bottom: 20px;">
          <span class="bind_title">左侧音柱设备：</span>
          <el-input v-model="control.bind.left_sound" size="mini"></el-input>
        </div>

        <div class="row_layout">
          <span class="bind_title">右侧音柱设备：</span>
          <el-input v-model="control.bind.right_sound" size="mini"></el-input>
        </div>

        <div class="foot row_layout">
          <el-button @click="bind_device" size="small" type="primary">确认</el-button>
        </div>
      </div>
    </div>
    <!-- 场景矩阵 -->
    <div class="popup" v-show="control.scene.show">
      <div class="pop_box col_layout" style="width: 90%;min-width: 1000px;">
        <div class="head row_layout">
          <div class="title">{{control.scene.title}}</div>
          <el-button @click="control.scene.show=false" type="danger" icon="el-icon-close" circle
            size="small"></el-button>
        </div>

        <div v-if="control.scene.title==='音频矩阵'" id="sound_matrix">
          <div class="head">
            <div class="title" v-for="num,index in 13">
              {{index>0?'IN'+index:''}}
            </div>
          </div>

          <div class="body">
            <div class="col">
              <div class="title" v-for="num in 9">
                {{'OUT'+num}}
              </div>
            </div>

            <div class="body">
              <div class="row" v-for="row,row_i in control.scene.sound">
                <div class="button" v-for="col,col_i in row" @click="send_order('音频矩阵',{value:col,row_i,col_i})">
                  <img v-show="col==1" src="./img/icon40.png" class="bg_img">
                  <img v-show="col==0" src="./img/icon41.png" class="bg_img">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div v-if="control.scene.title==='视频矩阵'&&!control.scene.flag" id="video_matrix"
          style="grid-template-rows: repeat(2, 70px)">
          <div class="button center" v-for="item,index in control.scene.video1" @click="send_order('视频矩阵',index)">
            <img v-show="!video_matrix_status(index)" src="./img/icon42.png" class="bg_img">
            <img v-show="video_matrix_status(index)" src="./img/icon43.png" class="bg_img">
            <span>{{item}}</span>
          </div>
        </div>

        <div v-if="control.scene.title==='视频矩阵'&&control.scene.flag" id="video_matrix">
          <div class="button center" v-for="item,index in control.scene.video"
            @click="send_order('视频矩阵',{value:item.value, index})">
            <img v-show="!video_matrix_status(index)" src="./img/icon42.png" class="bg_img">
            <img v-show="video_matrix_status(index)" src="./img/icon43.png" class="bg_img">
            <span>{{item.label}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- 临时 巡检弹窗 -->
    <div class="popup" v-show="control.巡检.show">
      <div class="pop_box col_layout" style="width: 90%;min-width: 1000px;">
        <div class="head row_layout">
          <div class="title">巡检详情</div>
          <el-button @click="control.巡检.show=false" type="danger" icon="el-icon-close" circle size="small"></el-button>
        </div>

        <el-table :data="control.巡检.data">
          <el-table-column prop="messageId" label="messageId"></el-table-column>
          <el-table-column prop="deviceId" label="设备ID"></el-table-column>
          <el-table-column prop="deviceName" label="设备名称"></el-table-column>
          <el-table-column prop="placeName" label="场所名称"></el-table-column>
          <el-table-column prop="serviceName" label="巡检服务"></el-table-column>
          <el-table-column prop="operate" label="巡检状态" width="150"></el-table-column>
          <el-table-column prop="operateStatus" label="巡检结果"></el-table-column>
        </el-table>
      </div>
    </div>
    <!-- 临时 巡检完成提示弹窗 -->
    <div class="popup" v-show="control.巡检.show2">
      <div class="pop_box col_layout" style="width: 400px;">
        <div class="head row_layout">
          <div class="title"></div>
          <el-button @click="control.巡检.show2=false" type="danger" icon="el-icon-close" circle size="small"></el-button>
        </div>

        <div class="linshi">巡检完成</div>
        <div class="linshi" style="margin-bottom: 40px;">系统无异常</div>
      </div>
    </div>
    <!-- 最小化窗口 -->
    <el-button v-if="html.iconize_device" @click="full_size" class="iconize_device_window" type="warning"
      size="mini">{{html.device_name}} 弹出窗</el-button>
  </div>

  <script src="../../运维人员部署请修改我.js"></script>
  <script src="../../js/stomp.min.js"></script>
  <script src="../module/vue.js"></script>
  <script src="../module/element-ui.js"></script>
  <script src="../module/axios.min.js"></script>
  <script src="../module/common_function.js"></script>
  <script src="../../dlc2/components/components.js"></script>
  <script src="./index.js"></script>
</body>

</html>